[2021-04-20 16:07] szicari-farmobile commented on #960
I was able to recreate this bug 95% of the time with the following procedure (I'm on a Mac, so you may need to find comparable software to allow the same approach in other OSes):

- Open iTerm
- Split the window into two panes
- Enable **Shell -> Broadcast Input -> Broadcast Input to All Panes in Current Tab** (this ensures identical token refresh requests are issued at more or less exactly the sa

[2021-04-20 18:09] panosangelopoulos commented on #960
Thanks for your message @szicari-farmobile but still I cannot reproduce it even with 6 different tabs plus using the `Broadcast Input to All Panes in Current Tab` approach.

[code]

[2021-04-20 18:11] szicari-farmobile commented on #960
@panosangelopoulos Did you mean 6 different panes, because having multiple tabs open but only issuing the request from a single pane would only be a single request.

[2021-04-20 18:34] panosangelopoulos commented on #960
Yes, @szicari-farmobile I mean panes, sorry for mention tabs. Even with 6 different panes, I cannot reproduce it.

I realized that somehow there is a queue with the requests and I am not getting the result simultaneously from every single pane but in order.

[2021-04-20 18:46] szicari-farmobile commented on #960
Ah, interesting. So in your case, the only request that doesn't return an HTTP 400 is the first request to have been processed, I would image.

In our case, we've got n number of µWSGI workers, and therefore it is possible for truly simultaneous requests to cause this issue. Is there a way you can test with a similar configuration? Even just running Django w/ a two-worker µWSGI configuration shoul

[2021-04-21 10:50] tevansuk commented on #952
Yes, we noticed this as well. This is `oauthlib` behaviour, it explicitly sets the scopes on the request to be just "openid" when generating userinfo claims - I think this is so it can skip through various "is this openid" checks that it has. It doesn't seem totally right to me.

You can get the original scopes however by looking at the access token / id token associated with the request:

`scopes

[2021-04-21 16:18] n2ygk commented on #952
In looking at oauthlib, it appears they "sanitize" the request and only have the Bearer token available, so I'm not sure it's more effective to grab the tokens in the DOT wrapper call to oauthlib.... What do you think @tevansuk?

[2021-04-21 19:56] panosangelopoulos commented on #960
Not really, all of them are returned correctly with a 200 status code.

Even after running Django with a two-worker configuration as you suggested the issue is not showing up.

[2021-04-21 20:00] szicari-farmobile commented on #960
Something tells me we're not running the same tests. Only the first request should return HTTP 200 and subsequent requests should return HTTP 400 because the token was invalidated by the first successful request.

I am issuing simultaneous requests with the _same refresh token_.  Are you trying simultaneous requests with _different_ refresh tokens?

[2021-04-22 02:37] rtpg commented on #960
Maybe it would be possible here to write a bash script to set up the conditions here? Somethign where the main loop is

[code]
so that everyone is on the same page and has a good way of reproducing this?

[2021-04-23 10:36] panosangelopoulos commented on #960
@szicari-farmobile regarding your concern you are right since I had configured the `REFRESH_TOKEN_EXPIRE_SECONDS` and `REFRESH_TOKEN_GRACE_PERIOD_SECONDS` to `60`, thus you can reuse the same refresh token. After comment out this configuration problem solved and only the first request returns with 200.

@rtpg
I was trying to run your suggestion but still doesn't raise any `IntegrityError`, the fir

[2021-04-23 13:29] nsklikas opened #966 "extract_headers parses request.META"
**Describe the bug**
`extract_headers`(https://github.com/jazzband/django-oauth-toolkit/blob/master/oauth2_provider/oauth2_backends.py#L71) parses `request.META`, which contains more than just the request's headers, instead of `request.headers`.

**Expected behavior**
I expect that the parsed `extract_headers` would return only the request's headers (which are the keys in `request.META` that start

[2021-04-23 14:57] szicari-farmobile commented on #960
The plot thickens, at least for me. I tried the bash loop and got both successful responses back. I also get the exact same new oAuth token back for both requests. Why would this be the case?

[code]

[2021-04-23 15:00] panosangelopoulos commented on #960
@szicari-farmobile Did you set `REFRESH_TOKEN_GRACE_PERIOD_SECONDS` and/or `REFRESH_TOKEN_EXPIRE_SECONDS` in the above requests ?

[2021-04-23 15:03] szicari-farmobile commented on #960
Our oAuth configuration is as follows:

[code]

[2021-04-27 10:08] wolendranh commented on #838
hi! How can you specify set of scopes for such application (backend-to-backend script/app that was granted access through client credentials)?

[2021-04-27 15:01] panosangelopoulos commented on #960
Then I'm not expecting two responses with `200` status.

Anyone else who can reproduce the bug by using the method which @rtpg mentioned?

[2021-04-28 10:22] wolendranh opened #970 "Separate Resource Server: disable caching of token in Resource server to allow token revoke"
Hi! It seems that if Resource server is separated from Auth server tokens are cached in Resource server.
How is revoke handled in such case? I am taking about following scenario:

1. Auth server issue token
2. Resource server cache it in `oauth2_provider_accesstoken` table
3. Auth server admin revoke token
4. Resource server is out of sync ?
Is it possible to disable caching and allow introspectio

[2021-04-30 10:57] manelclos opened #971 "Allow "urn:ietf:wg:oauth:2.0:oob:auto" as a redirect_uri in the Aplication admin"
Hi, the `Application` model admin is not currently allowing to set `redirect_uris` to `urn:ietf:wg:oauth:2.0:oob:auto`.

The `Application` model `clean` method does not take it into account, currently only allowing `http` and `https` schemes.

It would be great if this could be improved. Would a patch be accepted? or is this due to a design decision?

Also, trying to access the `authorize` url fai

[2021-05-04 10:00] HugoDelval opened #974 "Add project to django packages"
Hi,

I've tried to add your project to https://djangopackages.org/grids/g/oidc/ as it looks like it supports opendID connect.

I hope I did well, I've marked it as a "provider"

![image](https://user-images.githubusercontent.com/9109308/116988148-45411400-acd0-11eb-83c0-58c3d8c3d579.png)

Have a good day!

[2021-05-04 16:18] panosangelopoulos commented on #958
A new [PR](https://github.com/jazzband/django-oauth-toolkit/pull/975) created

[2021-05-04 21:18] TimothyMalahy opened #976 "Ping Federate and Django Oauth Toolkit"
Hello, I am trying to get the Django Oauth toolkit to work with my company's Ping Federate basic client credentials, but I am so lost. I want my users to sign in through our corporate sign in, and then grab their username and then take credentials from our admin.contrib

Am I in the totally wrong package?

[2021-05-05 06:41] dylantack commented on #950
I'm working on a PR for this; should be ready in the next few days.

[2021-05-12 02:19] vector-kerr commented on #971
+1 to this request - if my understanding is correct, this would allow for native app URIs with registered custom schemes.

[2021-05-12 05:01] manelclos commented on #971
Hi @vector-kerr, we are using this to get an authorization code from the authorize endpoint from a SPA, this is, no navigation to the authorize endpoint, no user confirmation.

[2021-05-12 09:01] wolendranh commented on #970
HI ! Is this project active? I created question 14 days ago and there no response at all :(

[2021-05-13 22:38] Amertz08 commented on #657
Bump on this issue.  If I'm understanding this would it also apply to the `POST /oauth/token/` endpoint? We have external users running into this issue. We're not entirely sure how to deal with it. To my understanding this is what the `415` response code is for.

If a user sends an `application/json` request they end up getting a 400 saying `{"error": "unsupported_grant_type"}`.

I think a 415 wit

[2021-05-18 16:04] squeral commented on #240
Version 1.5 also requires setting `OAUTH2_PROVIDER_ID_TOKEN_MODEL`.

https://github.com/jazzband/django-oauth-toolkit/blob/9d2aac2480b2a1875eb52612661992f73606bade/tests/settings.py#L137-L140

[2021-05-25 13:18] adityakrgupta25 opened #979 "Is it really necessary to delete atomically in `clear_expired` tokens?"
Currently in `clear_expired` function we have:

[code]
Somewhere down in the past year, this function started timing out for us and  we accumulated big debt of the tokens to be deleted. The `clear_expired` kept causing `Operational Timeout` due to the sheer volume of the tokens and a reinforcing loop was set up, accumulating more and more tokens.

 To counter this, we have been deleting the tokens

[2021-05-26 15:57] n2ygk commented on #976
Does your company's PingFederate instance implement OAuth2/OIDC? See [here](https://columbia-it-django-jsonapi-training.readthedocs.io/en/latest/) for an example where we use PingFederate's OAuth2 service and only use DOT for the client side.

[2021-05-26 19:16] n2ygk commented on #964
Submitted upstream https://github.com/oauthlib/oauthlib/pull/760

[2021-05-27 18:19] zodman opened #980 "the documentation missing the OAUTH2_PROVIDER_ {APPLICATION_MODEL, ACCESS_TOKEN_MODEL, ID_TOKEN_MODEL} settings"
**Describe the bug**
the package doesn't work without it.

**To Reproduce**
remove the (twice because the conf is duplicated):
https://github.com/jazzband/django-oauth-toolkit/blob/master/tests/migrations/0001_initial.py#L14
[code]
from tests/settings.py

Run the test...

Possible fix... add to the documentation ... or add it by default ...

[2021-05-30 01:15] allen-munsch commented on #240
@Icary's answer appears to work on django3.2, when adding a foreignkey of Application

[code]

[2021-06-04 17:44] erolhoke opened #982 "Error decoding token Message when trying to use Bearer Authentication"
When making requests to a guincorn app deployed to Azure App Services, I get the an error with the following body:

{"detail":"Error decoding token."}

I cannot find any documentation on this anywhere on the internet or in this repository. I can make requests /o/token and get the token perfectly fine, my general non-token authentication works too.

Please advise and let me know what I am doing wro

[2021-06-05 15:08] #982 closed

[2021-06-07 22:20] PoDuck commented on #971
Is this not already implemented in the setting `ALLOWED_REDIRECT_URI_SCHEMES` as documented [here](https://django-oauth-toolkit.readthedocs.io/en/latest/settings.html?highlight=settings#allowed-redirect-uri-schemes)?

[2021-06-09 14:39] abdulh01 opened #983 "I am facing this error while using django-oauth-toolkit"
Hi, I am trying to use Oauth authentication for my REST API built using DRF. I have created a custom user models called Account. I have followed all steps according to the Documentation. but when running command **py manage.py migrate** I am getting this error. I am new to this please help.

[code]

My Code in settings
[code]

**Note: ** Before doing this I have deleted all migrations and their ta

[2021-06-11 04:40] abdulh01 commented on #983
Please help!!!!

[2021-06-11 22:17] nico-deforge opened #984 "Oauth2 Throttle class for Client Credentials"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

If my proposal is not relevant, I will be happy to discuss !

Thank you for your response,
Nicolas

[2021-06-14 08:11] panosangelopoulos commented on #960
I did my research and came back to this topic, the reason that we are getting two valid requests (cc @szicari-farmobile ) when we are sending simultaneous requests is this line https://github.com/jazzband/django-oauth-toolkit/blob/master/oauth2_provider/oauth2_validators.py#L698

The server is authorized to send valid tokens for `0` seconds (if we don't modify the `REFRESH_TOKEN_GRACE_PERIOD_SECON

[2021-06-15 13:52] HugoDelval opened #986 "OIDC not working (synapse) due to invalid JSON Web Key Set"
**Describe the bug**
I'm trying to make my django application as a open ID connect provider, and I'm doing this using django-oauth-toolkit. My issue is that the client I use (synapse : https://github.com/matrix-org/synapse/blob/develop/docs/openid.md) is giving me a JSON Web Key Set signature error during the authorization process

![image](https://user-images.githubusercontent.com/9109308/1220633

[2021-06-16 08:10] HugoDelval commented on #986
Turns out I was missing a section in the synapse's configuration. The correct config would be :

[code]

Sorry for the noise!

[2021-06-16 08:10] #986 closed

[2021-06-17 08:55] Andrew-Chen-Wang opened #987 "Change JSON based HttpResponse to JSONResponse"
https://github.com/jazzband/django-oauth-toolkit/blob/d90bb348f00886ae8321f8194f6275be9aa08f80/oauth2_provider/views/introspect.py#L48-L56

Any reason not to use `django.http.JSONResponse`?

[2021-06-18 08:33] auvipy commented on #987
valid point to use jsonresponse

[2021-06-22 11:21] KhoaDauTay opened #990 "Generated Access token using JWT"
- Hi everyone, i'm try generate token with function `signed_token_generator`
- This is my settings:
[code]
- I try create app with this:
![image](https://user-images.githubusercontent.com/54214642/122915882-75c73500-d386-11eb-8b74-ddbe4cfcf24b.png)

- This is my error, some one can help for problem
![image](https://user-images.githubusercontent.com/54214642/122915944-88416e80-d386-11eb-9752-8eb3fa

[2021-06-30 11:53] LesPrimus commented on #970
Faced the same issue before...

Take a look at this setting for the resource server.

RESOURCE_SERVER_TOKEN_CACHING_SECONDS

The number of seconds an authorization token received from the introspection endpoint remains valid. If the expire time of the received token is less than RESOURCE_SERVER_TOKEN_CACHING_SECONDS the expire time will be used.

[2021-07-01 12:44] emrulhaikal opened #992 "How to retrieve id_token for OIDC"
Hi,

First of all I would like to say thank you for his great library. I have a question regarding OIDC id_token. I followed the instruction in https://django-oauth-toolkit.readthedocs.io/en/stable/oidc.html#openid-connect-support documentation on how to setup the OIDC. When I tried to do POST request in the Postman, I unable to retrieve the id_token. Please see the attachment as the reference. I

[2021-07-02 08:27] #987 closed

[2021-07-06 16:44] jjoocceeee commented on #470
@kdazzle This solution works for me, thanks!

Is the user for the application for a Client Credential type, just the user who is logged in when the application (client) is created?

[2021-07-10 05:03] azataiot opened #994 "How to setup Django-oauth-toolkit in frontend/backend separated projects?"
I am currently using dj-rest-auth in my project and already set up a nuxt.js & Django project (A). it works perfectly now. But I also want to use Django-OAuth-toolkit to provide introspect connections to my other websites, so that they can log in from my site A.

Firstly, oauth-toolkit as I see is heavily build for django-fullstack, where we build django applications using django templates. Are th

[2021-07-11 19:39] zmunk commented on #256
How did you solve the issue?

[2021-07-11 20:19] Andrew-Chen-Wang commented on #994
Fair warning: Excuse me if the tutorials are rat shit because I wrote them with barely any knowledge in the world of OAuth RFCs, not to mention my laziness in the (lack of) actual writing of the tutorial.

Take a look here for a tutorial https://github.com/Andrew-Chen-Wang/django-social-provider-and-consumer-tutorial Guarantee you'll need the Provider section. Depending on how you implement your S

[2021-07-12 03:47] azataiot commented on #994
THANKS FOR YOUR KIND REPLY.

In my application, I use nuxt.js ( a vue.js based framework). And yes, I use a Simple JWT for a token system.
I will read your code and of course if possible I will try to contribute to it.

Thanks again.

[2021-07-12 03:52] azataiot commented on #994
@Andrew-Chen-Wang I think I am focusing the first problem here:

![image](https://user-images.githubusercontent.com/8280770/125228487-a3086280-e2f6-11eb-8a1f-d9a581a996eb.png)

---
As you said " the provider is a website, not a RESTAPI", In my case, yes it is a REST API. So things started getting complicated.

In my case, the provider ( Django + vue ) itself is a separated system and communicates

[2021-07-12 04:21] Andrew-Chen-Wang commented on #994
@azataiot Probably makes things easier; lots of the configuration (like what to actually put into your application registration) is something useful that you can find in the tutorial (view the Notes section under the provider tutorial). Some of the Python code used can be reused as they were from the documentation here, but for actually getting the provider tokens for a DRF context, follow: https:

[2021-07-12 04:26] azataiot commented on #994
@Andrew-Chen-Wang
Thanks a lot. I've viewed your code. That's nice organized and comprehensive.

In my current application, I have already finished the registration, login, reset passwords, recover passwords, email, SMS handling, verification and etc (it is now called IAM Service --- which is a Django + Vue application ).

And I want to add functionality to the existing site so that,

1. Third-par

[2021-07-12 04:33] Andrew-Chen-Wang commented on #994
@azataiot thanks for taking a look!

For the second point, the SSO is beyond the scope of this package as that actually covers cross-domain. OAuth handles cross-domain, yes, but it accounts for different authentication systems. For example, YouTube.com and Google.com use an SSO, but (if you recall how Django cookies work), they both share the same authentication cookies (ish. They're two separate

[2021-07-12 04:35] Andrew-Chen-Wang commented on #994
@azataiot actually, I think the DRF tutorial is all you need for the provider: https://django-oauth-toolkit.readthedocs.io/en/latest/rest-framework/getting_started.html#step-1-minimal-setup

It's really about the frontend that you may be confused about

[2021-07-12 04:48] azataiot commented on #994
All of the documentation, actually, I've read.

The thins is not clear among us,

just one question :

Where do your user's log in:

1. users login into the website where the Django project sits ( like this https://github.com/Andrew-Chen-Wang/django-social-provider-and-consumer-tutorial/tree/main/provider ) --- here the frontend is the Django site. login page is rendered by Django using DOT's `Aut

[2021-07-12 04:58] Andrew-Chen-Wang commented on #994
@azataiot I made that tutorial because no one made a decent tutorial with ready-made code with **Django templates**. I wouldn't expect there to be a good one for SPA, unless my Googling skills are atrocious.

Let's communicate over at https://github.com/Andrew-Chen-Wang/django-social-provider-and-consumer-tutorial/issues/8 so we don't fill up this issue. It'll make it easier for future Googlers to

[2021-07-12 12:00] #994 closed

[2021-07-20 18:19] waxlamp commented on #718
In my project I'm able to set this via the admin console as suggested. But I'm wondering how to set it programmatically. Is there a setting I can put in code to turn this on/off per project?

[2021-07-20 20:15] medmunds commented on #718
@waxlamp to control this programmatically, set the [`skip_authorization` property](https://django-oauth-toolkit.readthedocs.io/en/latest/advanced_topics.html#skip-authorization-completely-for-trusted-applications) on the oauth2_provider `Application` model for the particular client app you want to change.

[2021-07-20 22:23] waxlamp commented on #718
Thanks!

[2021-07-21 07:55] ZuSe opened #995 "AccessToken matching query does not exist | Grant Type Password"
**Describe the bug**
Token Creation with grant_type password leads sometimes to "AccessToken matching query does not exist." error

**To Reproduce**
1. Setup a Django Project with ASGI, running multiple workers (e.g. with uvicorn/daphne)
2. Try multiple requests against /oidc/token/ (default /o/token/
3. At some point it will throw the exception

**Expected behavior**
No exception should be thrown

[2021-07-21 08:46] ZuSe commented on #995
Some additional information.
I were able to reproduce it on local. What matters is the RTT to the database, when using my local PSQL it took me close to a thousand requests to run into it. Using a cloud-db with longer RTT (approx 200ms) it only took me 5-10 tries.

[2021-07-25 13:36] fred2012 opened #996 "ModuleNotFoundError: No module named 'oauth2_provider'"
after Add ` oauth2_provider ` to `INSTALLED_APPS`  in iam/settings.py
then execute the `python manage.py migrate`, showing the output in below:

`python manage.py migrate                                ░▒▓ ✔ │ iam   │ 21:25:33 
Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    main()
  File "manage.py", line 18, in main
    execute_from_command_line(sys.argv)
  File

[2021-07-26 16:46] ZuSe opened #997 "Return proper WWW-Authenticate Header"
**Describe the bug**
Hitting userinfo with an invalid token results in a 401 containing the www-authenticate header
e.g.

'WWW-Authenticate': 'Bearer, error="invalid_token", error_description="The access token provided is expired, revoked,

The header should NOT contain any single value (only pairs = seperated by comma)

**Expected behavior**
Receive a header which is standard conform

**Version**

[2021-07-27 20:27] Harmouch101 opened #998 "Proposal: Revoking an access token without deleting it from the `AccessToken` table"
**Is your feature request related to a problem? Please describe.**

Currently, I am dealing with designing and implementing a logout endpoint in Django. The simplest way for doing so is by deleting the token from the  `AccessToken` table. However, I don't actually want to delete that info from that table, what I wanted instead is to log out without deleting that token. So to do so, I think a commo

[2021-08-01 09:35] #998 closed

[2021-08-03 18:16] jnm commented on #983
You need to add the migration that creates your custom user model, otherwise almost every other Django migration is likely to fail. That's what the error is trying to tell you: `django.db.utils.ProgrammingError: relation "account_account" does not exist`. The `account_account` relation is the table for your `account.Account` model, and it needs to exist before the django-oauth-toolkit migrations c

[2021-08-11 03:31] Jenm78 opened #999 "OpenIDC endpoints"
I am been using Django Oauth toolkit to implement an autenticacion service with Basic bearer token. No problems so far.
However, I am now trying to change to the use of JWT tokens. I configure everything in the settings.py as the documentation indicates. I also create a private key using openssl, but when I try to access to the endpoints like http://mydomain/o/.well-known/openid-configuration/, it

[2021-08-12 08:02] idegtiarov opened #1000 "Do there any blockers to bump new release?"
We are looking forward to using `django-auth-toolkit` with Django 3.2

Required PR is already merged into master branch #968.
Do there any chance a new version will be bumped soon?

If any blockers with the release I would be happy to help.

Thank you in advance.

[2021-08-18 23:59] bradydean opened #1002 "Can `'oauth2_provider.contrib.rest_framework.OAuth2Authentication'` validate access tokens with JWKS?"
I use Auth0 as an authentication server, but I see no way to validate their JWK's using this library.
Can someone point me in the right direction?

[2021-08-19 13:06] Fraze commented on #867
This still seems to be an issue. Does anyone know of a fix for this?

[2021-08-19 16:42] Fraze commented on #867
Actually! I found a fix. You need to specify the redirect_uri via a param when sending the token if you list multiple URIs.

[2021-08-24 16:27] kittu603 commented on #240
Working!!!! Thanks

[2021-08-25 09:54] protux opened #1003 "Make Authentication conform to the OAuth standard(?)"
Hi,

I'm not sure if I'm holding it wrong or if Authentication violates the OAuth2 standard.

Context is authentication via `grant_type=client_credentials`
The [OAuth2 specification](https://www.oauth.com/oauth2-servers/access-tokens/client-credentials/) says, the `grant_type`, `client_id`and `client_secret` should all be passed via POST-Body. But this library demands `grant_type` via body and the

[2021-08-27 13:33] anik-s opened #1004 "Creating access token with just a user"
I want to create an access token for a user when the user verifies two factor authentication, meaning in the request there won't be password, client_id, clinet_secret and grant_type. After verifying the user I just want to provide the user with an access token (along with refresh token and expiry). Is it possible? Is there a workaround?

[2021-08-28 08:08] mehdi123 opened #1005 "Integrating django-oauth-toolkit and Okta"
Hi there,

I am working on a Django application (using DRF) that already has been integrated with the OAuth toolkit. Now there is a requirement to use Okta as the user management. Do you have any information/guidance on how can I integrate the Django OAuth toolkit with Okta?

Thank you.

[2021-09-02 10:22] timbarkerSE opened #1006 "Posting null values to token endpoint generates a 500 error"
**Describe the bug**
When posting null (%00) value to token endpoint as either client_id or username with a valid client_id the null value is used to query the database generating

`ValueError: A string literal cannot contain NUL (0x00) characters.` in the database backend

**To Reproduce**
Set up Django and Oauth toolkit and run the following to post to the token endpoint:

`curl -d "grant_type=p

[2021-09-02 15:44] haakenlid commented on #990
You can't do it this way. The signed_token_generator has a different return type from the default generator (it's a higher order function).  In any case, a valid JWT would be too long to be stored in the default AccessToken model.

This issue is related to #757

[2021-09-02 20:48] haakenlid commented on #990
I wrote a token generator which uses the HS256 algorithm. The client required a valid JWT access token, but they didn't need to use a specific signing key or validate the signature. So this seems to work ok for my use.

I think the "exp" claim is required. To ensure unique tokens, I also added a uuid to the payload.

    "ACCESS_TOKEN_GENERATOR": "import.path.to.jwt_token_generator"

[code]

[2021-09-04 16:11] sichefute opened #1007 "descendants of double-used refresh token still working"
When refresh token rotation is enabled,  new use of an already used refresh token should result in invalidating all of the descendants of the first token. (detailed explanations in [this link](https://www.pingidentity.com/en/company/blog/posts/2021/refresh-token-rotation-spa.html))

**it seems that in django-oauth-toolkit, refresh token rotation Is not implemented completely as it only revokes use

[2021-09-04 19:03] bl4ckbo7 opened #1008 "How to dump all the fields of application and accesstoken models."
Seems I can't really get to dump all of the fields of the mentioned above models.

Please, can you help if there's any possible way??

[2021-09-12 07:11] Alavi1412 opened #1010 "Accepting the Raw JSON in the request body alongside of Form-data"
I'm using this package for my RESTfull API Django application. Currently, all of my requests are in RAW JSON but only endpoints that are related to Authentication (Login, Revoking Tokens, and Renewing Tokens) are in Form-data shape. This is causing an inconvenience in our front-end application.

Also, it is making the customization on Login so difficult.

Currently, for customization, I'm using su

[2021-09-13 09:16] idegtiarov commented on #1000
@Andrew-Chen-Wang @alexmclarty any thoughts related to my question?

[2021-09-15 07:43] ZuSe opened #1011 "Wrong HTTP Code on Token Introspection with expired / invalid token"
**Describe the bug**
Right now we return HTTP 401 when providing valid authentication credentials (in my case Basic Auth client_id:secret)
but an invalid token

**To Reproduce**
curl -L -X POST 'https://myserver.com/oidc/introspect/' \
-H 'Authorization: Basic BASICAUTH' \
-F 'token="ghJyFkBhfbqI4QqubWS2vIo5lbjoV2"'

**Expected behavior**
According to https://datatracker.ietf.org/doc/html/rfc7662#

[2021-09-15 11:34] jaap3 opened #1013 "OIDC: Support the max_age request parameter"
Right now a client can provide a logout feature by simply "forgetting" the tokens. However, as long as a user still has an active session on the authorization server, going through the authentication flow will result in the same user being logged in again.

I want the client to be able to force re-authentication by providing the `max_age` request parameter in the authentication request.

[Section

[2021-09-16 16:21] auvipy commented on #1000
@n2ygk hi O:)

[2021-09-17 06:00] Andrew-Chen-Wang commented on #1000
I don't have release permission @idegtiarov

[2021-09-17 07:21] alexmclarty commented on #1000
I don’t have permission either @idegtiarov

[2021-09-17 11:09] idegtiarov commented on #1000
@Andrew-Chen-Wang  @alexmclarty  thanks for the reply!!!

@auvipy thanks for pointing to the right person, if I understand correctly your message ))))

@n2ygk I looking forward to hearing a word from you.

[2021-09-22 03:58] MCOngTreal commented on #868
Is there any solutions for this issue?
I'm getting `django.db.transaction.TransactionManagementError: select_for_update cannot be used outside of a transaction`
when using DATABASE_ROUTERS Automatic database routing.

if is using "default", there will be no issue, but once using other naming, it will throw error mentioned above

[2021-09-23 09:36] daadu commented on #1000
any ETA?

[2021-09-23 17:31] #950 closed

[2021-09-27 14:08] enjoysmath opened #1015 "Test your authorization server fails for me."
The test described here:

[https://django-oauth-toolkit.readthedocs.io/en/0.5.0/tutorial/tutorial_01.html#test-your-authorization-server](https://django-oauth-toolkit.readthedocs.io/en/0.5.0/tutorial/tutorial_01.html#test-your-authorization-server)

My code is not passing thist test.  I followed the instructions, fresh Django project.

I go to [http://django-oauth-toolkit.herokuapp.com/consumer/](

[2021-09-27 14:33] enjoysmath commented on #1015
Okay, that error was caused by the missing URL line:

`    re_path('^accounts/', include('django.contrib.auth.urls')),`

But adding that and the requisite `templates/registration/login.html` just brings me to that very page and no info about OAuth2 stuff is displayed.  Is that passing the test?

![image](https://user-images.githubusercontent.com/1606391/134929118-953f4516-1ca5-4929-96c0-42a8cd2ba6

[2021-09-27 14:39] enjoysmath opened #1016 "Application instance fails with RSA selected then clicking "Save"."
![image](https://user-images.githubusercontent.com/1606391/134930443-fe6b919a-7f03-4d24-b694-35cf2cc9466f.png)

[2021-09-27 19:23] mjamalil commented on #980
it also needs
OAUTH2_PROVIDER_ID_TOKEN_MODEL = "oauth2_provider.IDToken"

[2021-09-27 19:26] mjamalil opened #1017 "'Settings' object has no attribute 'OAUTH2_PROVIDER_ID_TOKEN_MODEL'"
**Describe the bug**
Settings need OAUTH2_PROVIDER_ID_TOKEN_MODEL to be defined

**To Reproduce**
override these
OAUTH2_PROVIDER_APPLICATION_MODEL = "oauth.MyApplication"
OAUTH2_PROVIDER_REFRESH_TOKEN_MODEL = "oauth.MyRefreshToken"
OAUTH2_PROVIDER_GRANT_MODEL = "oauth.MyGrant"
OAUTH2_PROVIDER_ACCESS_TOKEN_MODEL = "oauth.MyAccessToken"

**Expected behavior**
Shouldn't need everything to be overridd

[2021-09-28 16:46] idegtiarov commented on #1000
Hey, @n2ygk any news so far?

[2021-09-30 08:57] rejuls commented on #1000
Hey, possible to do this release soon? We're in the process of updating our codebase to Django 3.2 and desperately need support for this package

[2021-09-30 17:39] Andrew-Chen-Wang commented on #1000
@jezdez can you perform the release?

[2021-10-01 14:42] amirhoseinbidar opened #1018 "access django request in OAuth2Validator.get_additional_claims"
In get_additional_claims I want to give url of users avatar, some thing like google claims...
But django image field just give path of file without domain
base on https://stackoverflow.com/questions/1451138/how-can-i-get-the-domain-name-of-my-site-within-a-django-template
I have to somehow access django request to find site domain and build avatars full url

But base on https://django-oauth-toolki

[2021-10-01 21:29] dannosaur commented on #1000
I too could do with a release containing the unreleased changes. Specifically I need the resolution to #712 to exist. Any news when we might see a published release?

[2021-10-13 22:43] pkarman commented on #729
@IvanAnishchuk I took a first pass in #1020 -- let me know what you think.

[2021-10-15 09:01] pkarman commented on #729
from https://www.oauth.com/oauth2-servers/client-registration/client-id-secret/

[2021-10-19 06:16] #954 closed

[2021-10-21 11:10] jezdez commented on #1000
@auvipy Please prepare a release branch (with changelog update etc) and assign the review of that PR to the project leads @n2ygk and @MattBlack85. Security-critical projects like this one need some extra care before doing the releases.

[2021-10-23 01:05] auvipy commented on #1013
contributions are welcome

[2021-10-23 01:09] auvipy commented on #979
may be you can check this https://github.com/jazzband/django-oauth-toolkit/pull/969

[2021-10-23 01:12] auvipy commented on #901
if needed we can add this   to docs. i am closing the issue for now.

[2021-10-23 01:17] #853 closed

[2021-10-23 01:18] #756 closed

[2021-10-23 01:19] #786 closed

[2021-10-23 01:21] #842 closed

[2021-10-23 01:24] #318 closed

[2021-10-23 01:26] #367 closed

[2021-10-23 01:27] #366 closed

[2021-10-23 01:27] #401 closed

[2021-10-23 01:27] #983 closed

[2021-10-23 01:29] #500 closed

[2021-10-23 01:29] #595 closed

[2021-10-23 01:30] #833 closed

[2021-10-23 01:30] #910 closed

[2021-10-23 01:31] #1004 closed, assigned to nobody

[2021-10-26 09:47] #460 closed, assigned to nobody

[2021-11-02 14:59] idegtiarov commented on #1000
Hey, @auvipy any updates on the new release branch? Winter is coming! ))))

[2021-11-11 22:56] Suldenkov opened #1027 "How to use jwt tokens in django-oauth-toolkit without adding to the database?"
I have been working on separating the authorization server and the resource server using django-oauth-toolkit. Also I wrote my jwt token generator:

[code]
And now I noticed that my jwt tokens are added to the database created by django-oauth-toolkit, but the essence of jwt is not to store them in the database. Tell me how to do it all rummaged through I can not find anything.

![Снимок](https://u

[2021-11-12 16:47] auvipy commented on #1000
dont worry, im from tropical region! joke apart very likely this week end

[2021-11-12 17:55] jmlefevre-inartco opened #1028 "Logic for interraction thought oauth"
Hi,
I would like to implement an auth server with these conditions:
- There are people into group A that can log into a website thought an interface. For example, a group of student.
- There are people into group B that can log into the same website as A thought a interface but have access to different features.
- When a people from group B want to interact with group A, group B must send a reques

[2021-11-17 13:20] hetdagli234 opened #1031 "Not declaring app_label error"
My urls.py looks like this:

`from django.conf import settings
import oauth2_provider.views as oauth2_views
from django.contrib import admin
admin.autodiscover()
`

the oauth2_provider import statement above throws this error:

`RuntimeError: Model class django.contrib.contenttypes.models.ContentType doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS.`

I just want

[2021-11-17 15:23] auvipy commented on #1031
this is admin.autodiscover()  not you will use in latest django versions. your projects code has issues

[2021-11-17 15:42] hetdagli234 commented on #1031
I commented out those two lines, but the same error pops up again at the import line, here is how it looks now:

`from django.conf.urls import *
from django.conf import settings
import oauth2_provider.views as oauth2_views
from clickwork import schema_generator`

[2021-11-19 12:01] yotovtsvetomir opened #1032 "DRF - Adding User from Panel vs adding with code error?"
`class CustomerRegister(APIView):
    permission_classes = (permissions.AllowAny,)

    def post(self, request):
        data = request.data
        data['is_active'] = True
        serializer = UserSerializer(data=data)
        if serializer.is_valid():
            user = User.objects.create_user(**data)
            user.save()
            customer = Customer.objects.create(user=User.objects.get(

[2021-11-20 05:28] yotovtsvetomir commented on #1032
Just for the record, everything was working I was giving wrong password :smile: ...

[2021-11-20 05:29] #1032 closed

[2021-12-02 12:16] gaikwad411 commented on #351
Can we generate open id id_token same way, programatically??

[2021-12-07 15:18] ShaheedHaque opened #1037 "Django 4.0 compatibility"
**Describe the bug**
When used with Django 4.0, there are reports of a missing migration. For example:
[code]
By default, of course, normal users cannot write such a file, and applying migrations without causes warnings like this:
[code]
I note that Django 4.0 release notes mention the possibility of some no-op migrations being needed...I am not sure if this is the root cause.

**To Reproduce**
Ru

[2021-12-08 13:10] idegtiarov commented on #1000
@auvipy  Please say that week at which ends we can celebrate the new bumped release is close! )))

Could you share any recent news, ETA, something?

Thank you in advance.

[2021-12-08 22:32] dchiquito commented on #1037
Looks like https://docs.djangoproject.com/en/4.0/releases/4.0/#migrations-autodetector-changes is to blame for the migration. In my project, the generated migration is altering the `user` ForeignKey on all the models like `models.ForeignKey(...identical..., to='auth.user')`. My `settings.AUTH_USER_MODEL` is `auth.User`, so I suspect this difference in capitalization is causing the migration.

[2021-12-13 06:42] RAJKRIS commented on #243
Do we have a provision for this?

[2021-12-13 17:55] wolendranh commented on #1000
HI @auvipy @idegtiarov !

Any updates on new release? It seems like 3 month passed since this issue was started...

[2021-12-14 03:52] auvipy commented on #1000
FWIW, I am not the project lead & I am busy with the projects I have leading likeish role. I was in vacation as well, so now clearing  the backlogs of the projects I lead & have some commercial involvement. TIA for understanding.

[2021-12-14 15:35] natabene commented on #1000
@auvipy Thank you so much for an update, I appreciate!

[2021-12-14 16:13] idegtiarov commented on #1000
@auvipy Thank you for your work on that project and help with the current issue specifically. I know we are pushing on you very much and we are impatient. If you know a way I can help you with the issue, please do not hesitate to write to me.

Thank you again!

[2021-12-14 16:17] n2ygk commented on #1000
Hey! I saw a [request](https://github.com/jazzband/django-oauth-toolkit/issues/1000#issuecomment-948504056) from @jezdez back in October to package up a release PR and assign to me and @MattBlack85 for review. I'm still waiting. If @auvipy can't do it, I'm sure someone else can.

[2021-12-14 16:50] Andrew-Chen-Wang commented on #1000
@n2ygk created a PR #1038 for CHANGELOG entry. Also hoping to merge PR #1039 before release. Cheers, and thanks for the response 👍

[2021-12-15 05:16] #1000 closed

[2021-12-15 14:04] michaeljaszczuk commented on #634
If you still have problems here is solution that worked for me:

Summary:
- My db is clear, no migrations made
- I needed to overwrite ALL methods
- django-oauth-toolkit==1.5.0
- Django==4.0

**1. Add to settings.py:**
[code]
[code]

**2. Implement models:**
[code]

3. Run makemigrations and migrate

What was most important? You need to implement and overwrite ALL models (Access, Refresh, ID, Appl

[2021-12-15 17:46] dopry opened #1040 "Is silent renew supported?"
Silent Renew has become more common than refresh tokens for SPAs as far as I can tell. Does Django OAuthToolkit support silent renew?

[2021-12-16 05:40] auvipy commented on #1037
it seems to be a regression in django https://github.com/django/django/pull/15205/files

[2021-12-16 14:55] #666 closed

[2021-12-17 18:57] oscarychen commented on #393
I needed to store refresh token in a HttpOnly cookie, and send the access token back in response body.  Here is how I achieved this: https://github.com/oscarychen/django-oauth-toolkit-cookie-refresh
and then in my main project, I just install this repo, ie:
`pip install git+https://github.com/oscarychen/django-oauth-toolkit-cookie-refresh.git`

Disclaimer: this is still work-in-progress.

[2021-12-18 19:06] n2ygk commented on #964
upstream accepted the PR

[2021-12-18 19:06] #964 closed

[2021-12-18 19:07] n2ygk commented on #961
stale. closing

[2021-12-18 19:07] #961 closed

[2021-12-19 21:10] n2ygk opened #1045 "Document the Admin UI in the Tutorial"
**Is your feature request related to a problem? Please describe.**

It occurred to me when reviewing #1041 improvement to the admin UI that we document the UI in general in the Tutorial.

**Describe the solution you'd like**

A walk through of the admin UI with some screenshots.

**Describe alternatives you've considered**

**Additional context**

[2021-12-19 21:13] #1037 closed

[2021-12-20 14:40] n2ygk opened #1047 "RTFD builds failing since Django 4.0 release"
**Describe the bug**

readthedocs.io builds have been failing since 10 December 2021.

**To Reproduce**

Take a look at https://readthedocs.org/projects/django-oauth-toolkit/builds/15504196/

**Expected behavior**

Builds should succeed

**Version**

1.5.0, 1.6.0

- [x] I have tested with the latest published release and it's still a problem.
- [x] I have tested with the master branch and it's sti

[2021-12-20 15:14] n2ygk commented on #1047
Or this change:
[code]

[code]

not sure how/why the tox tests didn't work before this change...

[2021-12-20 15:32] pcarn commented on #1047
That commit is showing in reverse, it was adding django to `__init__`, to check the version.

https://github.com/jazzband/django-oauth-toolkit/commit/345122881424897a2907312db52fafad9bbaa5f1

[2021-12-20 15:34] pcarn commented on #1047
I don't have access to those builds, but installing django as part of the build setup should fix it.

[2021-12-20 15:39] n2ygk commented on #1047
D'oh!

[2021-12-20 15:43] n2ygk commented on #1047
Still trying to understand what changed since it was building fine up until 10 December.

[2021-12-20 15:45] pcarn commented on #1047
What changed is the `import django` line I added to `__init__.py`, the doc build is now failing because django can't be imported.

Django is in docs/requirements.txt though, so I thought that should work. Perhaps the init is happening before it's being installed or something.

[2021-12-20 20:28] n2ygk commented on #1047
@pcarn Since merging #1048 the docs [build](https://readthedocs.org/projects/django-oauth-toolkit/builds/15584826/) is now reporting a new missing package:

[code]

[2021-12-20 20:35] pcarn commented on #1047
Where is the config for this command in that docs build?
[code]

Adding django to that might solve it.

[2021-12-20 21:02] n2ygk commented on #1047
I've got to take a deeper look, I'm bugging you since the first time the builds started failing was with your commit so something changed at that point. And the error change to setuptool missing once you moved the django dependency in the tox.ini.

I checked the rtfd config and it didn't have docs/requirements.txt, which is weird since how was it working before?

[2021-12-20 21:09] pcarn commented on #1047
I think it worked before because django wasn't a direct dependency for it, and I'm guessing setuptools is downstream from that.

I don't have access to the config for the docs build, so I can only guess on what needs to change there.

[2021-12-21 14:11] #1047 closed

[2021-12-21 14:21] n2ygk opened #1051 "Resolve issues with Django >= 4.0"
**Describe the bug**

See #1039 issues with migrations. Keeping this issue open in order to remind us.

**To Reproduce**

**Expected behavior**

**Version**

- [ ] I have tested with the latest published release and it's still a problem.
- [ ] I have tested with the master branch and it's still a problem.

**Additional context**

[2021-12-21 14:53] Andrew-Chen-Wang commented on #1051
Should this be resolved when https://github.com/django/django/pull/15205 is released or are you saying to try and support 4.0.0? Or are you saying resolve Django main branch issues? Sorry for the confusion 😅

[2021-12-21 15:14] n2ygk opened #1052 "Update RTFD for 1.6.1"
**Describe the bug**

RTFD.io needs to be updated when 1.6.1 ships. 1.6.0 RTFD remains broken and 1.5.0 is the "latest".

**To Reproduce**

**Expected behavior**

**Version**

- [ ] I have tested with the latest published release and it's still a problem.
- [ ] I have tested with the master branch and it's still a problem.

**Additional context**

[2021-12-21 15:24] n2ygk commented on #1052
Fixed configuration for v.latest so the default view is now up to date with the default branch.

[2021-12-21 15:24] #1052 closed

[2021-12-21 16:23] n2ygk commented on #1051
I just don't want to let the problem with 4.0 drop, so either we document the issue so users don't get burned by it or wait to see if 4.0.1 fixes it. It would be nice to have a failing test somehow to confirm that the migration breakage is in fact resolved and doesn't come back as another regression.

[2021-12-22 16:00] n2ygk commented on #1051
@Andrew-Chen-Wang I admit that TL;DR on the reasons for DOT having issues with DJ4.0. Do you agree we should drop 4.0 support from the 1.6.x release until that regression is fixed and 4.0.1 is published? We can target that for 1.7.0.

[2021-12-22 20:21] Andrew-Chen-Wang commented on #1051
We can add a test case that runs `assert call_command("makemigrations", "--check")` so that no new migrations pops up.

The PR has merged and is documented in 4.0.1 release notes (though the version has not been released yet; expected release on January 4th, 2022): https://docs.djangoproject.com/en/4.0/releases/4.0.1/

I think that, given the patch release of 4.0.1 is coming out in two weeks, we s

[2021-12-22 21:34] #1051 closed

[2021-12-23 14:46] dmvol81 commented on #971
I knew nothing of what's going on. This is pure BS.

[2021-12-23 16:24] n2ygk commented on #971
Not sure what you mean by this. This appears to have been solved at https://github.com/jazzband/django-oauth-toolkit/issues/971#issuecomment-948779327

Feel free to reopen if not.

[2021-12-26 21:52] wagnerdelima opened #1059 "How to Run a Single test."
How to Run a Single test.

I opened this Draft Pr here: https://github.com/jazzband/django-oauth-toolkit/pull/1058
 I would like to tacke the broken tests, however, I don't know how to run tests on its own without running everything via  tox.

Can anyone help?

[2021-12-29 20:21] arvobrendon opened #1061 "Django oauth"
Hi there !

my current project is https://github.com/RealmTeam/django-rest-framework-social-oauth2

Can I know do  I use your oauth-toolkit to replace my social oauth for stripe payment ?

[2021-12-30 13:57] n2ygk opened #1064 "[maint] Resolve failing djmain tests"
Tox tests are currently failing with djmain. Figure out and resolve before the next Django 4.x release is published and those tests fail too.

[2021-12-31 02:05] EduardoJM commented on #1016
"You must set OIDC_RSA_PRIVATE_KEY to use RSA algorithm":

At the documentation [settings](https://django-oauth-toolkit.readthedocs.io/en/latest/settings.html#oidc-rsa-private-key):

To use OIDC you must set the OIDC_RSA_PRIVATE_KEY in your settings.py.

[2022-01-01 16:44] n2ygk commented on #1059
@wagnerdelima like this with tox:
[code]

or install the requirements in a venv and run pytest manually which is a bit of a pain. Something like this:

[code]

[2022-01-01 16:44] #1059 closed

[2022-01-01 16:58] #651 closed

[2022-01-01 17:03] n2ygk opened #1065 "Write a test for cleartokens management command"
**Is your feature request related to a problem? Please describe.**

Code coverage of the cleartokens management command has been 0% since it was created in 2015.

**Describe the solution you'd like**

Write a test for the cleartokens command.

**Describe alternatives you've considered**

It's not core functionality so could continue to have 0% coverage but it would be nice to add.

**Additional co

[2022-01-01 17:43] n2ygk commented on #1064
Also need to change the gh workflow to flag the failures. They are currently buried and don't show up.

[2022-01-02 10:47] wagnerdelima commented on #1059
O thank you @n2ygk.

[2022-01-02 13:26] n2ygk commented on #1040
Do you mean using Implicit flow? The forthcoming [OAuth 2.1](https://oauth.net/2.1/) specification drops Implicit in lieu of using Authorization Code flow with PKCE in SPAs for security reasons. With Authorization Code flow you can use Refresh tokens.

[2022-01-02 13:29] n2ygk commented on #1031
Take a look here for an example (perhaps a bit too complicated): https://columbia-it-django-jsonapi-training.readthedocs.io/en/latest/using_dot/

Also, see the [Tutorials](https://django-oauth-toolkit.readthedocs.io/en/latest/tutorial/tutorial.html)

[2022-01-02 13:31] n2ygk commented on #1028
Hmm, pretty complicated questions. Here's a training example that uses OIDC claims, etc that might be helpful: https://columbia-it-django-jsonapi-training.readthedocs.io/en/latest/

[2022-01-02 13:34] n2ygk commented on #1027
As currently implemented, it is not possible to do this. Feel free to submit a PR if you are able to figure out how to do it.

[2022-01-02 13:34] #1027 closed

[2022-01-02 21:59] n2ygk commented on #952
closing this as stale

[2022-01-02 21:59] #952 closed

[2022-01-03 19:00] n2ygk commented on #1064
Something has changed between Django 4.0 and main branch leading to an attempt to do an unsupported SQLIte3 operation:

[code]

[2022-01-03 19:21] n2ygk commented on #1064
I've opened this upstream Django ticket: https://code.djangoproject.com/ticket/33408

[2022-01-03 20:48] n2ygk commented on #1064
Fixed here: https://github.com/django/django/pull/15278

[2022-01-03 20:52] Natureshadow opened #1066 "Backwards-incompatible API change in OAuth2Validator in 1.6.0"
**Describe the bug**

PR #967 changed the API for `OAuth2Validator.get_additional_claims` in a backwards-incompatible way (and the project major version has not been bumped, which would have been required by semantic versioning).

Specifically, the `request` argument was removed, which we relied upon downstream. It seems that the functionality has remained (in a slightly more complex way), but suc

[2022-01-03 20:54] Natureshadow commented on #1066
Then again, reverting the change in a 1.6.1 release would be a breaking change compared to 1.6.0. So the situation cannot be fixed, unless a 1.6.1 release re-introduces the old API, but keeps the new API as well.

[2022-01-04 15:28] max-wittig opened #1067 "Missing migration for Django 4.0.1?"
**Describe the bug**

Running `makemigrations` should not have an output or create new migration files for this library.

[code]

**To Reproduce**

Upgrade to Django `4.0.1` and django-oauth-toolkit `1.6.1`

**Expected behavior**

Nothing

**Version**

1.6.1

- [x] I have tested with the latest published release and it's still a problem.
- [ ] I have tested with the master branch and it's still a

[2022-01-04 19:03] n2ygk commented on #1064
Upstream fix has been merged. djmain tests are succeeding again.

gh workflow question is being discussed at https://github.com/orgs/jazzband/teams/django-oauth-toolkit/discussions/2

[2022-01-04 19:03] #1064 closed

[2022-01-04 19:05] n2ygk commented on #1067
My understanding from @Andrew-Chen-Wang was that there was a known bug with 4.0.0 having to do with creating an unnecessary migration that was supposed to have been fixed in 4.0.1. Looks like maybe it's not fixed?

[2022-01-04 19:09] n2ygk commented on #1066
Oh, that's not good.

I'd say we should put fixing this on the queue for 1.7.0 but then you'd say it's a major change and it should be 2.0. We've tried to adopt semver -- the project previously had not used it -- and it seems we missed this as being a breaking fix.

Need to research what happened here and come up with a plan. Meanwhile go ahead and temporarily pin <1.6.0.

[2022-01-04 19:12] n2ygk commented on #1066
I think we need to revert this PR and issue 1.6.2. That will require some git branch games as we've already merged a bunch of new 1.7.0 changes.

[2022-01-04 20:36] #1066 closed

[2022-01-04 20:46] n2ygk commented on #1067
@max-wittig Can you try out https://github.com/jazzband/django-oauth-toolkit/pull/1056 and see if it works for you. It looks right to me, but I'd like some confirmation before merging it.

[2022-01-04 22:03] max-wittig commented on #1067
It's not quite fixed yet with 366e53193769e8a60e210d73c240696a4fb690c5

[code]

[2022-01-05 03:01] dopry commented on #928
@n2ygk  did you ever figure out why the scopes list is missing?  I'm not even getting my full list of scopes in get_additional_claims.

[2022-01-05 13:51] n2ygk commented on #1067
I suspect that may be related to #1020

Lesson learned - We need to add a `makemigrations` test!

[2022-01-05 13:52] n2ygk commented on #928
Umm scopes are not the same as claims....

[2022-01-05 13:55] max-wittig commented on #1067
Yup. We also got this in our little Django project. Just in the CI/CD pipeline:

[code]

This will throw a 1 exit-code, when migrations are missing.

[2022-01-05 14:04] n2ygk opened #1071 "Make sure PR tests detect new missing migrations"
**Is your feature request related to a problem? Please describe.**

Problem is that the tests don't detect missing migrations. We've had a couple of PRs now where this has led to surprises.

**Describe the solution you'd like**

Add a tox test to check for new migrations.

**Describe alternatives you've considered**

**Additional context**

See #1067

[2022-01-05 14:05] n2ygk commented on #1071
Here's what to add: https://github.com/jazzband/django-oauth-toolkit/issues/1067#issuecomment-1005705634

[2022-01-05 14:10] n2ygk commented on #1071
Not as easy as I had hoped:
[code]

[2022-01-06 04:20] Zorig commented on #1067
@max-wittig exact same configuration on CI/CD and got the same result which is failing.

[2022-01-06 16:02] n2ygk commented on #1067
Hey @max-wittig @Zorig -- Can you please try out the stable/1.6 branch where I have a hotfix 1.6.2 release that should hopefully fix this?

[2022-01-06 16:54] max-wittig commented on #1067
Looks good to me:

[code]

[2022-01-07 19:55] n2ygk commented on #1067
Resolved with #1056 and published in https://pypi.org/project/django-oauth-toolkit/1.6.2/

[2022-01-07 19:55] #1067 closed

[2022-01-07 20:00] n2ygk opened #1074 "Add missing migration caused by #1020"
Discovered by @max-wittig:
[code]

_Originally posted by @max-wittig in https://github.com/jazzband/django-oauth-toolkit/issues/1067#issuecomment-1005204093_

[2022-01-07 20:01] n2ygk commented on #1074
#1020 needs an accompanying migration due to changing the type of the `client_secret`

[2022-01-07 23:03] #1074 closed

[2022-01-08 04:39] dopry commented on #1040
No. I mean silent renewal. Where a refresh token is not provided but a hidden iframe is opened to the idp to fetch a new access token if a session is still active. https://auth0.com/docs/authenticate/login/configure-silent-authentication

[2022-01-08 12:18] n2ygk commented on #1040
@dopry Have you tried using it? It's in the [OIDC spec](https://openid.net/specs/openid-connect-core-1_0.html) which is listed as supported by upstream [oauthlib](https://oauthlib.readthedocs.io/en/latest/feature_matrix.html)

[2022-01-08 12:30] n2ygk opened #1076 "Test CLIENT_SECRET_HASHER migration"
#1020 enables hashing of client secrets and #1074 adds the missed migration required by it.

1. Create cleartext client secrets in a version prior to that commit
2. Upgrade DOT to master
3. Set a [CLIENT_SECRET_HASHER](https://django-oauth-toolkit.readthedocs.io/en/latest/settings.html#client-secret-hasher) other than None.
4. Run migration `0006_alter_application_client_secret`
6. Confirm that th

[2022-01-08 12:37] n2ygk commented on #1076
Maybe use https://github.com/wemake-services/django-test-migrations

[2022-01-08 13:05] max-wittig commented on #1067
Thank you!

[2022-01-08 14:02] n2ygk commented on #1076
I tested forward and back migrations, cleartext secrets, mixed with hashed secrets, etc. using Postman.

However, I was also able to use the hashed value of a secret and it was accepted as if it were the cleartext.

[2022-01-08 14:14] n2ygk opened #1077 "client secret hashing allows use of the hash value of a hashed secret."
**Describe the bug**

You can use the hashed value of a client secret as the secret. This eliminates the protection supposedly afforded by #1020 storing client secrets as hashes.

**To Reproduce**

1. Set up a simple DOT provider as described in the [tutorial](https://django-oauth-toolkit.readthedocs.io/en/latest/tutorial/tutorial_01.html)
2. Add `'CLIENT_SECRET_HASHER': 'pbkdf2_sha256'` to `setti

[2022-01-08 14:15] n2ygk commented on #1077
@pkarman See ^

[2022-01-08 14:33] n2ygk commented on #1076
Forward and backward migrations are fine.
Opened new issue #1077 for the bug found.

[2022-01-08 14:33] #1076 closed

[2022-01-08 14:34] n2ygk commented on #1071
Maybe use https://github.com/wemake-services/django-test-migrations to further check not only for missing migrations but forward/reverse migration errors on schema changes.

[2022-01-08 15:53] karpet commented on #1077
thanks for the thorough report. yes definitely a bug. The security is no worse than it was before, but I can fix.

[2022-01-08 20:38] rick2ricks opened #1079 "Can I restrict an endpoint to and application"
Hi, I would like to create and endpoint exclusively for another server to use, without any user involved, but I am having some difficulty to do it.

Can this be done with restricting access to applications? and how?

Thanks.

[2022-01-08 21:36] n2ygk commented on #1079
I believe what you are referring to is client_credentials flow.
You restrict access to the "application" by not sharing the client_secret with anyone but the authorized server. It's like doing HTTP Basic Auth between two backend servers but uses OAuth2 which has some advantages.

[2022-01-09 01:54] rick2ricks commented on #1079
Actually I meant the verification of which application is accessing the endpoint, users should authenticate using other applications but not be allowed to access this specific endpoint.

[2022-01-09 15:48] n2ygk commented on #1079
If I understand what you are saying, it's authorization that you are looking to do vs. authentication. We are being a bit loose with the terminology here which is I think part of the problem with my understanding your question.

Maybe use [RFC 6749 these role names](https://datatracker.ietf.org/doc/html/rfc6749#section-1.1) to explain the problem.

[code]
So I think by endpoint you mean resource s

[2022-01-09 19:44] n2ygk commented on #729
Since #1020 has been reverted, reopening this.

Still would be a great feature to have.

[2022-01-10 01:12] rick2ricks commented on #1079
Sure, I am sorry, this topic really requires the terminology. You are right, I used the term application to refer client because it is the term used by oauth-toolkit when you register a client, and by endpoint I mean one resource in the resource server.

Basically what I am going to do is to schedule an aws lambda function to call this endpoint in my resource server periodically to execute some ta

[2022-01-10 03:38] #1071 closed

[2022-01-10 14:02] n2ygk commented on #1077
#1020 was reverted.

[2022-01-10 14:02] #1077 closed

[2022-01-10 14:14] n2ygk commented on #1079
Ok so you are talking about using Client Credentials flow since there's no human.

In other OAuth2 AS implementations I am familiar with (we use PingFederate), one can restrict scopes only to be request by specific clients and then the resource server can check to see if that scope was granted. I don't believe this feature exists in DOT.

However, you can have your resource server check the client

[2022-01-10 22:28] n2ygk commented on #1065
in process

[2022-01-10 22:38] n2ygk opened #1083 "'token' not a valid search field in admin"
Is this valid? Searching from the admin now gives me `django.core.exceptions.FieldError: Cannot resolve keyword 'token' into field. Choices are: access_token, application, application_id, created, expires, id, jti, scope, updated, user, user_id`

_Originally posted by @danlamanna in https://github.com/jazzband/django-oauth-toolkit/pull/1041#discussion_r781625094_

[2022-01-11 12:25] rick2ricks commented on #1079
Hi, thank you.

Yes totally makes sense, I thought about restricting scopes but as I couldn't find it on documentation, I imagined it wasn't supposed to do that.

As my use case does not deserve that much effort, I will go for a simpler approach, just verifying some secret on this specific resource.

Thank you for the help and clarification.

[2022-01-11 12:25] #1079 closed

[2022-01-11 13:37] #1083 closed

[2022-01-11 14:06] n2ygk commented on #1083
@delenamalan thanks for the report and @PetrDlouhy for the quick fix.

https://pypi.org/project/django-oauth-toolkit/1.6.3/

[2022-01-11 19:24] n2ygk opened #1087 "Default value for CLEAR_EXPIRED_TOKENS_BATCH_INTERVAL"
@merito Sorry this is after the fact but wouldn't a default value of 0 be best, especially since the sleep is always executed even if the batch is tiny.
https://github.com/merito/django-oauth-toolkit/blob/725c3c9d8927379c9808abd1badb4fcd9ff1cbaa/oauth2_provider/models.py#L636

_Originally posted by @n2ygk in https://github.com/jazzband/django-oauth-toolkit/pull/969#discussion_r782459085_

[2022-01-11 19:26] n2ygk commented on #1087
I was enhancing and running the `clear_expired` tests and notice that the test was taking .4 sec longer than it should have;-)

[2022-01-12 23:53] #1065 closed

[2022-01-13 11:23] caguado opened #1089 "Improve reach of the discovery endpoint"
**Is your feature request related to a problem? Please describe.**
When using django-oauth-toolkit with default discovery options, the discovery URL is mounted under `OIDC_ISS_ENDPOINT` + `/.well-known/openid-configuration/`.

django-oauth-toolkit serves the discovery endpoint with a trailing slash an Django will automatically redirect requests without such trailing slash to the former with a HTTP

[2022-01-13 23:52] folt commented on #1087
Can you describe what problem you are trying to solve with this PR?

[2022-01-14 13:39] fco-phd opened #1091 "Auto logout (Django session) after authorization"
**Is your feature request related to a problem? Please describe.**
When a client gets an authorization code from the authorization server, a django session is created. After that, it is the responsability of the owner to logout from this session. I am of the opinion that is not obvious for a user that uses a client that he must logout from the authorization server.

**Describe the solution you'd l

[2022-01-14 15:07] n2ygk commented on #1087
@folt to further clarify, here's the code snippet:
https://github.com/jazzband/django-oauth-toolkit/blob/ac201526843ff63ad3861bb37e4099521cff091a/oauth2_provider/models.py#L630-L637

[2022-01-19 03:57] #990 closed

[2022-01-19 06:56] danlamanna commented on #971
Not the original issue creator, but I think this is a legitimate bug.

`urn:ietf:wg:oauth:2.0:oob` and `urn:ietf:wg:oauth:2.0:oob:auto` are treated as valid by certain parts of DOT, particularly the auth view. However, if a user attempts to set an application redirect URI as one of them, it's considered invalid (because it has no scheme):
![2022-01-19-014020_724x800_scrot](https://user-images.gith

[2022-01-19 08:24] KhoaDauTay commented on #634
@michaeljaszczuk Can you share detail about how to set up your custom model ?. I am flowing you but not I can't.

[2022-01-19 08:52] michaeljaszczuk commented on #634
What exactly do you need to know? Have you seen my requirements? Clean db, no migrations ran and packages versions? If so,

1. Add settings
2. Add models
3. Run makemigrations and migrate

That worked for me 🤔 Code is above... Let me know what is unclear and i will try to help!

[2022-01-19 14:22] #1087 closed

[2022-01-19 17:07] R70YNS opened #1092 "401 Unauthorized on PKCE requests"
After enabling PKCE with `PKCE_REQUIRED': True` I'm unable to retrieve an oauth response when submitting a request to `/o/token/ `. It provides a authentication code fine.

This article has been used as reference: https://www.liip.ch/en/blog/authorization-code-with-pkce-on-django-using-django-oauth-toolkit

Here is the request (with client_id and code redacted)

<img width="1001" alt="Screenshot 2

[2022-01-19 17:53] n2ygk commented on #1092
Have you tried the same with `PKCE_REQUIRED` set to False? What's in your console log?

I haven't looked at the blog post. Generally I test with Postman. Make sure your application has `https://www.getpostman.com/oauth2/callback` as one of the redirect URIs. Postman has `Authorization Code with PKCE` vs `Authorization Code`.

[2022-01-19 18:22] R70YNS commented on #1092
I've just tried with `PKCE_REQUIRED` set to `False` and it worked fine.

`client_secret` replaced `code_verifier` within the request (see below)

<img width="992" alt="Screenshot 2022-01-19 at 18 17 21" src="https://user-images.githubusercontent.com/13102109/150190497-16972d06-1c2e-46d0-9068-6daab26dad9a.png">

It also triggered my debug breakpoint on `if challenge is not None:` within `oauthlib/o

[2022-01-19 18:27] n2ygk commented on #1092
Instead of a POST to the endpoint, try using Postman's native OAuth2 auth:

![image](https://user-images.githubusercontent.com/4356471/150191696-36c516c0-9d50-4d9b-aaaf-5a0ae2b68a53.png)

[2022-01-19 19:26] R70YNS commented on #1092
I've upgraded Postman and tried a request to a protected endpoint (previously working without PKCE) using Authorisation Code (With PKCE), resulted in the same issue though.

<img width="1559" alt="Screenshot 2022-01-19 at 19 25 33" src="https://user-images.githubusercontent.com/13102109/150200172-d9ce6328-e2d6-46aa-9787-d1cf671689bd.png">

[2022-01-19 19:35] n2ygk commented on #1092
Anything in the console? You can set debug-level logging in settings.py something like this:
[code]

[2022-01-19 22:07] R70YNS commented on #1092
Thanks, I set the debugging config and (through the log) noticed my client_secret was incorrect, it now works correctly through postman using Authentication tab.

I've tried replicating the postman process manually but still get invalid_client error (using my old postman installation).

Unsure what the difference between manual and postman process is but happy to close this issue.

[2022-01-21 18:21] R70YNS commented on #1092
Not being able to rest without figuring out why this wasn't working. I delved into the request logs in Postman and compared them to my own. The difference was that client_secret was left out of my token request, but was used within the request via Postman. Sure enough, if I disable the parameter within my own request it fails again.

I believe this is incorrect behaviour as Authorisation flow with

[2022-01-21 19:06] n2ygk commented on #1092
I do not believe that to he the case. Do you have an RFC document reference that says that? PKCE supplements, not replaces use of client_secret.  However one can have a null client_secret now. Not sure if DOT implements that correctly, but that would be a different problem. This was the top hit on a google search and is on the Internet so it must be true ;-)

https://www.scottbrady91.com/oauth/cli

[2022-01-21 22:15] R70YNS commented on #1092
Section [4.3] of RFC7636 (https://datatracker.ietf.org/doc/html/rfc7636#page-9) references [Section 4.1.1 of RFC6749](https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.1) which doesn't include the client_secret in the request.

Interestingly I found a similar issue reported within Postman
https://github.com/postmanlabs/postman-app-support/issues/9409

There does seem to be a bit of confusi

[2022-01-21 22:29] n2ygk commented on #1092
Hey @R70YNS, Thanks for the research. I'm going to rename this issue to something about `client_secret` not being sent.
I know that in at least one commercial OAuth2 server there is an explicit configuration option of either having no client_secret or having a value for it. We use this with Authorization Code flow with PKCE for our SPA apps that formerly used Implicit flow.

I suspect that this ma

[2022-01-21 22:51] R70YNS commented on #1092
No problem @n2ygk. I think the name change is better too, it more accurately describes the problem. I do think that those who can secure the `client_secret` may as well continue to send it as an added layer of protection. This issue only really affects those who can't secure the client secret.

For a workaround I will use a null value for the client_secret as you mentioned above.

[2022-01-21 22:58] n2ygk commented on #1092
I'm curious to know if that will actually work. Looking forward to your report.

[2022-01-23 04:35] bombnp opened #1094 "Protecting application registration view?"
Hi, is it possible to protect the views in `/applications/*` for only users in a specific Django group? I want to create an api that only allows creating oauth2 applications to some selected group of people.

Thanks!

[2022-01-23 12:15] n2ygk commented on #1094
This sounds a lot like #1079

[2022-01-23 12:15] tahaatrian30 opened #1095 "Scope field in getting user info process."
I use two functions that customize the claims and userinfo which is mentioned in `https://django-oauth-toolkit.readthedocs.io/en/latest/oidc.html#customizing-the-oidc-responses`.
But I just add claims that the client needs in `request[scopes]`. when the client calls userinfo the bellow function will be executed.(this lib uses oauthlib/openid/core/endpoints/userinfo.py)

[code]
In this function fir

[2022-01-23 12:39] bombnp commented on #1094
I managed to solve this by manually adding the paths in DOT's urls.py file (specifically, `base_urlpatterns` and `management_urlpatterns`), instead of include()-ing the entire module. I used [django-decorator-include](https://pypi.org/project/django-decorator-include/) to protect `management_urlpatterns` with my own auth decorator logic, while include()-ing `base_urlpatterns` normally.

[2022-01-23 12:39] #1094 closed

[2022-01-23 12:57] n2ygk commented on #1095
Just a quick response without reading the code: scopes and claims are not the same thing, however scopes can be used to request that certain claims will be provided. For example, scope openid plus email will return an email address claim.
This might be helpful: https://columbia-it-django-jsonapi-training.readthedocs.io/en/latest/using_dot/

[2022-01-23 17:34] n2ygk commented on #971
@danlamanna

Do you have examples of specific use cases where the CLI client is not able to open a listener on the loopback address or use other approach examples given in [RFC8252 Appendix B](https://datatracker.ietf.org/doc/html/rfc8252#appendix-B ) for Windows, MacOS and Linux?

I am still loath to increase support of insecure features that are not in the [OAuth2 BCP](https://datatracker.ietf.o

[2022-01-23 18:17] n2ygk opened #1098 "OAuth 2.0 BCP -> OAuth 2.1"
**Is your feature request related to a problem? Please describe.**

The [OAuth 2.0 Security Best Current Practice](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics) draft describes a number of best security practices and the [OAuth 2.1](https://oauth.net/2.1/) draft consolidates all the OAuth 2.0 RFCs and BCPs into a single document.

DOT is not in compliance with all the BCP

[2022-01-23 18:33] n2ygk opened #1099 "RFC8414 .well-known/oauth-authorization-server metadata"
**Is your feature request related to a problem? Please describe.**

RFC 8414 Oauth Server metadata endpoint not implemented.

**Describe the solution you'd like**

Implement [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414) OAuth server metadata endpoint (which is similar to the OIDC `.well-known/openid-configuration/`.

**Describe alternatives you've considered**

**Additional context**

[2022-01-23 18:38] n2ygk opened #1100 "RFC 7591 dynamic client registration protocol"
**Is your feature request related to a problem? Please describe.**

Dynamic client registration is not support.

**Describe the solution you'd like**

Implement [RFC 7591](https://datatracker.ietf.org/doc/html/rfc7591) dynamic client registration endpoint.

**Describe alternatives you've considered**

**Additional context**

[2022-01-23 18:46] n2ygk opened #1101 "RFC 8705 mutual TLS client authentication"
**Is your feature request related to a problem? Please describe.**

DOT currently only supports basic auth for clients. A more secure approach to client authn is mutual TLS.

**Describe the solution you'd like**

Consider implementing [RFX 8705](https://datatracker.ietf.org/doc/html/rfc8705) mutual TLS client authentication.

**Describe alternatives you've considered**

**Additional context**

The

[2022-01-23 18:51] n2ygk opened #1102 "RFC 8707 Resource indicators"
**Is your feature request related to a problem? Please describe.**

An improved mechanism for the client to indicate which resource server it wishes to access would be good to have.

**Describe the solution you'd like**

[RFC 8707](https://datatracker.ietf.org/doc/html/rfc8707) describes a mechanism to do this.

**Describe alternatives you've considered**

Using special scope values that are "boun

[2022-01-23 19:00] n2ygk opened #1103 "BCP 24: Deprecate Resource owner password-based grant type"
**Is your feature request related to a problem? Please describe.**

The resource owner password-based grant type is insecure and is a "MUST NOT" in the OAuth 2 BCP.

**Describe the solution you'd like**

Per [BCP section 2.4](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics#section-2.4) deprecate this feature.

**Describe alternatives you've considered**

**Additional context

[2022-01-24 08:16] tahaatrian30 commented on #1095
As mentioned in the link, this is like a bug. I think it can be fixed with the `request[access_token][scope]` to be added to `request[scopes]`.

[2022-01-24 10:15] Zoronium commented on #1045
Hello , I wanted to ask that if this issue is sill open ,
and can I give it a try ?
thx

[2022-01-24 17:56] n2ygk opened #1104 "Deprecate oob PR #774"
**Is your feature request related to a problem? Please describe.**

#774 should probably never have been merged as it implements a deprecated non-standard feature that is a security exposure.

**Describe the solution you'd like**

revert the PR.

**Describe alternatives you've considered**

Please convince me in the comments that retaining this is a good, safe practice.

**Additional context**

Se

[2022-01-24 18:07] n2ygk opened #1105 "Achieve OpenID Connect 1.0 Certification"
**Is your feature request related to a problem? Please describe.**

Formal certification of the DOT OIDC implementation is lacking.

**Describe the solution you'd like**

Achieve https://openid.net/certification/

**Describe alternatives you've considered**

**Additional context**

[2022-01-25 23:08] R70YNS commented on #1092
I can confirm that attempting to retrieve a new oAuth token whilst sending a blank string (empty field in Postman) still returns a 401.

<img width="719" alt="Screenshot 2022-01-25 at 21 15 52" src="https://user-images.githubusercontent.com/13102109/151074931-5cec7d16-da9e-4d08-8095-993ce22d82d1.png">

[2022-01-28 21:49] n2ygk opened #1107 "OIDC: 5.4. Requesting Claims using Scope Values"
**Is your feature request related to a problem? Please describe.**

Per the [OIDC spec 5.4](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) one should be able to use OIDC standard scopes to limit which additional claims are returned in the ID Token and Userinfo response. The current implementation is unable to filter which additional claims to return in a reasonable way.

**Desc

[2022-01-29 14:11] n2ygk commented on #1107
Updated description above.

[2022-01-31 14:23] n2ygk commented on #1099
This functionality is already available upstream in https://github.com/oauthlib/oauthlib/blob/v3.2.0/docs/oauth2/endpoints/metadata.rst. Just need to use it.

[2022-01-31 14:26] n2ygk commented on #1105
I've started running the basic OP tests using https://github.com/n2ygk/dot-tutorial as the basis. So far many features check out but get these errors for JWKS:
[code]

[2022-01-31 19:16] n2ygk commented on #1105
This was a dumb error. I had installed an RSA private key but had the application algorithm set to HMAC instead of RSA.

[2022-01-31 21:21] R70YNS commented on #1092
@n2ygk I can confirm it returns:
`
{
    "error": "invalid_client"
}
`

[2022-01-31 21:26] n2ygk commented on #1092
A PR implementing this would be gladly accepted!

[2022-02-01 14:17] #1107 closed

[2022-02-01 14:58] n2ygk commented on #1013
This should get addressed in #1105

[2022-02-01 16:49] n2ygk commented on #1105
Status notes are here: https://github.com/n2ygk/dot-tutorial/blob/main/certification/notes.md

[2022-02-03 13:54] BevisAngello opened #1110 ""error": "invalid_request", "error_description": "Request is missing username parameter.""
I'm using django-oauth-toolkit and I'm using  custom user model AUTH_USER_MODEL = 'core_user.User'  but whenever i try to register a user in my resource server to the authentication server  i get "error": "invalid_request",   "error_description": "Request is missing username parameter." yet I'm not using username in my custom user modal. What could I be doing wrong?

here is the register code

cla

[2022-02-05 08:37] #1110 closed

[2022-02-05 17:12] dqfort opened #1111 "ACCESS_TOKEN_MODEL requires Django model"
I'm going to use django oauth toolkit with MongoDB. So I'm trying to override the setting ACCESS_TOKEN_MODEL to a custom class to connect to MongoDB. But it only supports Django model class. Is there another way to doing this?

[2022-02-08 18:20] daffyd opened #1112 "Update oauth tutorials to reference how to build apon the rest_framework tutorial."
As a newbie to Django/Rest_framework/oauth-toolkit, I climbed the tutorial/quickstart ladder.
Then I got stuck.
The[ 'snippet' example for the rest_framework](https://www.django-rest-framework.org/tutorial/4-authentication-and-permissions/) was the basis for what I wanted to do, using the ListAPIView

Using the example in the oauth_toolkit - (a literal hello world using the ProtectedResourceView),

[2022-02-08 18:43] n2ygk commented on #1112
A PR with updates to the documentation encouraged!

[2022-02-08 21:03] daffyd commented on #1112
I  tried to build with tox and can't find any results that contain the results :-(
It certainly took long enough toxing.....
So short of being able to check the results, here is my suggested addition.

on the end of docs/tutorial/tutorial_03.rst

Working with Rest_framework generic class based views
-----------------------------------------------------

If you have completed the
`Rest_Framework tu

[2022-02-08 21:20] n2ygk commented on #1112
`tox -e docs` then look in docs/_build

[2022-02-08 21:26] daffyd commented on #1112
Saw that in contributing, but after tox -e docs, nothing in docs/_build :-(
Also did a find . -name '*hml*' and did not find it)

$ tox --version
3.13.2 imported from /usr/lib/python3/dist-packages/tox/__init__.py

and nothing in help about the live view. Maybe I have the wrong one ?

On Tue, Feb 8, 2022 at 4:20 PM Alan Crosswell ***@***.***>
wrote:

[2022-02-09 15:12] daffyd commented on #1112
Ah.... missing python packages

I created a venv, pip installed a bunch of stuff and now have:

The HTML pages are in _build/html.

Build finished. The HTML pages are in _build/html.
_______________________________________________ summary
_______________________________________________
  docs: commands succeeded
  congratulations :)

On Tue, Feb 8, 2022 at 4:26 PM David Hill ***@***.***> wrote:

[2022-02-09 18:12] daffyd commented on #1112
PR created (I hope). First time going through the github process

[2022-02-11 23:12] sumpfralle opened #1114 "Dependency on celery lacks documentation"
**Describe the bug**

Recently (commit a6a21d3566d634e1bc016c3146fe1560469d9813) a dependency on celery was introduced. Probably it was meant to be triggered only, if celery is active (which would cause the import of `tasks.py`). But in reality it is also triggered, if other task queue handlers are running (in my case: [huey](https://github.com/coleifer/huey)).

**To Reproduce**
Add `oauth2_provid

[2022-02-11 23:18] n2ygk commented on #1114
Thanks for this report. Can you submit a PR which would fix this?

[2022-02-13 20:29] timptner commented on #1089
I've encountered exactly that problem while authenticating from django against a third-party application. Is there any working solution in the meantime?

[2022-02-13 21:37] timptner commented on #1089
For now I use a separate route to overwrite the default one from this package as a quick fix.

[code]

[2022-02-14 17:22] futurbotconsolidated opened #1116 "Create Token Manually"
I want to create token manually by passing the grant. How are we supposed to do that.
One approach is to create access and refresh token objects but it's not effective.

[2022-02-14 20:22] anik-s commented on #823
`
from oauth2_provider.models import AccessToken, Application, RefreshToken
from oauthlib import common
from django.utils import timezone

# generate access token and other things
application = Application.objects.get(pk=application_id)
# request.data. = True
user = getUser()
expires = timezone.now() + timezone.timedelta(seconds=oauth2_settings.ACCESS_TOKEN_EXPIRE_SECONDS)
access_token = AccessTok

[2022-02-15 11:34] venkat1283 opened #1117 "Getting 'Unsupported grant_type' in postman"
Hi, I am using your Django_oauth_toolkit, and I followed the full tutorial to get the tokens, but I am getting error 'Bad request(400)' if I try to access from browser and if I try from postman, I am getting 'unsupported grant_type' error, please help me How to solve this problem.
Please check the screenshots for postman and browser outputs.
<img width="1357" alt="Screenshot 2022-02-15 at 5 03 35

[2022-02-15 11:48] n2ygk commented on #1117
What grant types did you configure at admin/oauth/application?

[2022-02-15 11:59] venkat1283 commented on #1117
Authorization code

[2022-02-15 12:32] n2ygk commented on #1117
First, it's possible the tutorial has errors. I have not personally followed it through to the end.

However, I recommend letting postman do the flow by selecting authorization oauth2. You'll need to configure a postman redirect uri of https://www.getpostman.com/oauth2/callback in the application

[2022-02-16 04:57] venkat1283 commented on #1117
Hi, To set the oauth2 as Authorization in postman, we need below extra details, but we have only client ID, client Secret, callback url and code only.
<img width="1351" alt="Screenshot 2022-02-16 at 10 27 29 AM" src="https://user-images.githubusercontent.com/4488361/154199003-8842ffb8-54a8-4bff-8473-b081c854be5d.png">

[2022-02-17 03:46] sumpfralle commented on #1114
To be honest, I cannot tell, what the original commit is supposed to do exactly.

I *think*, it is supposed to wrap the function in order to enforce its execution in a task queue.
But I have no idea, how the task is actually *scheduled*.

In [huey](https://huey.readthedocs.io/en/latest/django.html) there are two types of function decorators:
* `db_task` (no parameters): for tasks to be called expl

[2022-02-17 05:47] venkat1283 commented on #1117
Hi, My adimin page loading static html.And my application is showing like below
![Uploading Screenshot 2022-02-17 at 10.24.18 AM.png…]()

[2022-02-17 07:19] matejsp opened #1119 "Hard to extend this library"
1. unable to add custom grant to a model (for admin ui):

For example:
[code]
https://oauthlib.readthedocs.io/en/latest/oauth2/grants/custom_grant.html

only solution is to modify meta directly:
[code]

2.
unable to limit allowed grant types in choice (like removing unsupported or deprecated)
Have a solution to specify the list in configuration or from configuration.

3.

[code]
Length of 32 is no

[2022-02-18 11:47] smit-mehta25 opened #1120 "Django Lazy Reference ValueError after upgrading to the latest version and running migrations,"
[code]

I am constantly facing this issues. Is there any solutions for this one,

[2022-02-18 12:28] smit-mehta25 commented on #1120
#634

[2022-03-05 09:00] kaemmi84 commented on #397
The installation dosent work

[2022-03-07 14:48] dopry opened #1122 "Enable PKCE by default and set RS-256 as the default signing algorithm."
**Is your feature request related to a problem? Please describe.**

I was setting up authorization for a SPA and had to do quite a bit of digging to figure out how best to configure the application to make it secure.  The various options on the Application form are unclear.  I have quite a bit of experience with OAuth and OIDC but this form confused me as I saw options that were not necessarily ap

[2022-03-07 15:40] n2ygk commented on #1122
See #1098. I think a lot of this falls under that heading.

[2022-03-08 16:30] Menda commented on #397
Someone would need to fork it and maintain, since Humanitec is not using it anymore.

[2022-03-09 08:05] MichaelVoelkel commented on #1114
To unblock everyone trying to upgrade to 1.7.0, could you maybe just state celery as dependency in your `setup.cfg`? For now, we downgraded again because `pip-compile` will not find this dependency, so it breaks all libraries that depend on this lib or a lib that depends on it etc.

[2022-03-09 09:45] Natureshadow commented on #1114
That depends on what scheduler you use with Celery.

https://docs.celeryproject.org/en/stable/django/first-steps-with-django.html#using-the-shared-task-decorator

I don't think so.

This is described in the original PR and in the Celery documentation linked from there and from the DOT docs.

[2022-03-13 06:57] guyskk commented on #634
I confirm @michaeljaszczuk solution https://github.com/jazzband/django-oauth-toolkit/issues/634#issuecomment-994821666 works as expected.

[2022-03-13 11:48] n2ygk commented on #634
Perhaps someone would submit a documentation PR for this?

[2022-03-13 23:57] sumpfralle commented on #1114
Thank you for helping to solve this issue!

Thank you.
Sorry, I should have mentioned, that I read this part of the the documentation before.
It only contains the following explanation for `shared_task`:

My understanding of the above documentation is, that the `clear_tokens` function is just decorated for being executed via celery. But I am quite confident, that this does not involve any *schedul

[2022-03-14 00:12] Natureshadow commented on #1114
Yes, you need to use some scheduler and configure celery-beat to use it, or trigger the task in any other way.

[2022-03-14 16:05] MichaelVoelkel commented on #1114
Okay, sorry, but I do not get this. Within the codebase of this package, you import `celery`. For me, this is enough to say that the codebase depends on `celery` and therefore this dependency should be made explicit. Sure, if you do happen to not use `tasks.py`, the error might not show up. But well, the codebase as a matter of fact contains this file and therefore this dependency and as library c

[2022-03-18 20:07] n2ygk commented on #971
Hearing no further. The decision to remove oob support in the next major release stands.

[2022-03-18 20:07] #971 closed

[2022-03-19 00:22] Princeigwe opened #1125 "Required scope attribute"
I can't really wrap my head around the 'required_scope' attribute. How do I define it, how can I use it?

[2022-03-19 18:03] n2ygk commented on #1125
With OAuth 2, the end-user grants a third-party, the client app, certain scopes.  The `required_scopes` are used by the resource server to make sure that the scope(s) that is required has been granted by that end user. This is determined by introspecting the Access Token.

[2022-03-19 18:30] #1104 closed

[2022-03-19 22:25] #1114 closed

[2022-03-21 14:07] n2ygk commented on #1122
@dopry A PR to implement this would be appreciated.

[2022-03-21 14:11] n2ygk commented on #1119
@matejsp Please cite the specific new RFCs. There are so many to choose from. Also, a PR to address this would be appreciated.

[2022-03-21 14:13] n2ygk commented on #1116
Not clear why you would do this? Where in the OAuth 2 specs is this functionality defined. If it's not there, I'd say it's a won't do here.

[2022-03-21 14:14] n2ygk commented on #1112
@daffyd What is the PR#? Best to link between issues and PR to help find.

[2022-03-21 14:25] #1028 closed

[2022-03-22 17:56] dopry opened #1130 "OpenID Connect Session Management 1.0"
Implement [OpenID Connect Session Management](https://openid.net/specs/openid-connect-session-1_0.html)

* [ ] add chcek_session end point per [Section 3.2](https://openid.net/specs/openid-connect-session-1_0.html#rfc.section.3.2)
* [ ] add check_session_iframe to discovery metadata per [Section 3.3](https://openid.net/specs/openid-connect-session-1_0.html#rfc.section.3.2)

[2022-03-22 17:57] dopry opened #1131 "OpenID Connect RP-Initiated Logout"
implement [OpenID Connect RP-Initiated Logout](https://openid.net/specs/openid-connect-rpinitiated-1_0.html)

* [ ] add post_logout_redirect_uri to application model
* [ ] implement `end_session` endpoint conforming to [Section 2](https://openid.net/specs/openid-connect-rpinitiated-1_0.html#rfc.section.2)
* [ ] add end_session_endpoint to discovery metadata per [Section 2.1](https://openid.net/spe

[2022-03-25 00:52] dopry commented on #1122
@n2ygk have a PR in progress.. needed some input on how to handle the breaking change.

[2022-03-27 12:26] n2ygk opened #1135 "Upgrade to latest sphinx version"
**Is your feature request related to a problem? Please describe.**

Builds started failing for pinned Sphinx<3 because of an unpinned requirement for Jinja2.
This highlights that we are well below the latest release of Sphinx 4.x so it's probably time to suck it up and figure out what's needed to upgrade.

**Describe the solution you'd like**

Get `tox -e docs` working with current versions of Sph

[2022-03-28 01:51] Stolek007 commented on #479
Set header -> "Content-Type" => "application/json"

[2022-04-04 13:54] fagnerzulin opened #1138 "Release of version 2.0.0"
Hello everyone

I would like to know if there is any prediction for the 2.0.0 version to be released. Today it is unrealized in the doc, and has two vulnerability alerts for versions lower than it in the [safety](https://pyup.io/). Thank you!

[2022-04-05 07:11] simara-svatopluk commented on #1138
Hello,
I found related discussion https://github.com/pyupio/safety-db/issues/2353

In short.. the reason for alert is: https://github.com/pyupio/safety-db/blob/master/data/insecure.json#L1841

And reason for this reason is explained in the discussion above

[2022-04-05 11:52] n2ygk commented on #1138
https://github.com/pyupio/safety-db/issues/2353#issuecomment-1088608992

Thanks for the pointer.

You can always use a git ref to the prerelease code now.

[2022-04-06 07:39] luohaoGit commented on #911
have you resolved this issue?

[2022-04-06 13:23] luohaoGit opened #1140 "How to skip oauth2_views.AuthorizationView's LoginRequiredMixin"
I want to use Authorization code grant type, but when I invoke /o/authorize/, it redirects to admin's login.
How can I skip admin login?

[2022-04-24 17:27] n2ygk opened #1143 "Help wanted: reviewers, additional project lead(s)"
# Help Wanted

We need help maintaining and enhancing django-oauth-toolkit (DOT).

## Join the team

Please consider joining [Jazzband](https://jazzband.co) (If not already a member) and the [DOT project team](https://jazzband.co/projects/django-oauth-toolkit).

## How you can help

See our [contributing](https://django-oauth-toolkit.readthedocs.io/en/latest/contributing.html) info and the open [i

[2022-04-24 18:10] n2ygk commented on #1122
@dopry Is this issue completed by #1129 or is there more to do here?

[2022-04-24 18:26] #1138 closed

[2022-04-27 02:13] josephabrahams opened #1146 "2.0.0: Client Secret Hasher Migration vs. Swapped Application Models"
### Describe the bug

The forward migration introduced in #1093 to hash all previously saved client secrets runs on apps that use a custom application model and produces the following error:

[code]

### To Reproduce

Define a custom application model in `settings.py`:

[code]

Migrate the database:

[code]

### Expected behavior

Migrations run when using a swappable application model without thr

[2022-04-27 02:18] josephabrahams commented on #1146
Potential fix to only run the migration when not using a custom application model in https://github.com/josephabrahams/django-oauth-toolkit/commit/a123285bf1758d7f717a010549fca64052b5903c.

[2022-04-27 10:16] n2ygk commented on #1146
@josephabrahams Thanks for this report. Swappable models are the hardest part with this stuff!

Please submit your proposed fix as a PR where we can discuss.

Thanks.

[2022-05-01 13:12] NSH531 opened #1148 "how to solve this problem(attached code):"
I cannot create tokens. what's to do?
[code]

[2022-05-03 17:59] dopry commented on #1040
It does seem to. so all is good.

[2022-05-03 17:59] #1040 closed

[2022-05-03 18:03] dopry commented on #1122
@n2ygk  #1129 just applies PKCE_REQUIRED.  The remaining items are outstanding.

[2022-05-07 05:44] undo-nothing commented on #1120
@smit-mehta25  same problem, i update to django 4.0.2 solved.

[2022-05-07 06:23] undo-nothing opened #1151 "add some `client-secret` required tips when `python manage.py createapplication` in version >= 2.0.0"
**Is your feature request related to a problem? Please describe.**
when i createapplication like before using `python manage.py createapplication --name self-front-end --client-id=self-front-end  confidential password`, than copy client_id and client_secret  use in basic auth, response is "invalid_client".
i debug and find `client_secret ` is use django `check_password` . and need provide source `

[2022-05-07 07:38] fms12 commented on #1148
REST_FRAMEWORK = {
    'DEFAULT_AUTHENTICATION_CLASSES': [
        'rest_framework.authentication.TokenAuthentication',
    ],
}

[2022-05-07 07:40] fms12 commented on #1148
add this one in your setting file .

[2022-05-07 14:42] n2ygk commented on #1148
This looks resolved

[2022-05-07 14:42] #1148 closed

[2022-05-07 18:35] #1151 closed

[2022-05-07 20:32] kiddick opened #1153 "Getting started section is not up to date with 2.0 release"
https://django-oauth-toolkit.readthedocs.io/en/latest/getting_started.html
This step
`To start the Authorization code flow go to this [URL](http://127.0.0.1:8000/o/authorize/?response_type=code&client_id=vW1RcAl7Mb0d5gyHNQIAcH110lWoOW2BmWJIero8&redirect_uri=http://127.0.0.1:8000/noexist/callback) which is the same as shown below:`
should be completed with form with permissions
<img width="776" alt

[2022-05-07 20:43] n2ygk commented on #1153
2.0 requires authorization_code with PKCE. I'm guessing the documentation needs to be update to show that. Please consider submitting a PR to fix the documentation.

[2022-05-09 08:46] juanbenitezdev opened #1154 "Invalid client error response"
Hey, I'm trying to implement a SSO provider on my Django Project

I'm using django-oauth-toolkit 2.0.0 and following the [Getting started tutorial](https://django-oauth-toolkit.readthedocs.io/en/latest/getting_started.html#authorization-code)

<img width="768" alt="Screenshot-2022-05-09 at 10 42 44@2x" src="https://user-images.githubusercontent.com/22871775/167373319-532aec5c-0299-4fca-8370-989fe9

[2022-05-09 10:48] kiddick commented on #1154
Since 2.0 release client_secret is hashed. You need to copy that value then initially creating your Applications. Since you push save button that value will be hashed

[2022-05-09 12:03] juanbenitezdev commented on #1154
Sounds about right. Thanks

[2022-05-09 15:40] Beenhakker opened #1155 ""Client Credential grant" example (getting started) no longer works."
Might be related to https://github.com/jazzband/django-oauth-toolkit/issues/1153 (Getting started section is not up to date with 2.0 release - PCKE required)

The example (similar to the implementation we use) https://django-oauth-toolkit.readthedocs.io/en/latest/getting_started.html?highlight=CLIENT_CREDENTIALS#client-credential - worked fine for us before version <2.

After updating to version 2

[2022-05-10 00:46] n2ygk commented on #1155
client_secret captured before it was hashed?

[2022-05-10 01:51] ioniconline opened #1156 "Can we still using the esource Owner Password Credentials Grant？"
https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-13#section-3.4

[3.4](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-13#section-3.4).  Resource Owner Password Credentials Grant

   The resource owner password credentials grant MUST NOT be used.  This
   grant type insecurely exposes the credentials of the resource owner
   to the client.  Even if the

[2022-05-10 11:08] n2ygk commented on #1156
Good question. We should deprecate/remove this as we did for oob. Think of 2.0.0 as the start of getting to the OAuth 2 BCP/OAuth 2.1.

[2022-05-10 14:39] Beenhakker commented on #1155
Ah, yes of course. We use a "fixed application", and no longer use the register views really.

I was unaware of the fact that this `client_secret` was encrypted from now on, and our tests broke.

It works by specifying a `client_secret` as argument to `ApplicationModel`, and store the plaintext version separately so we can reuse it later on.

Thanks.

[2022-05-10 14:39] #1155 closed

[2022-05-10 14:53] Beenhakker commented on #1155
Hey, I did not know what parts it would affect. Excuse me for asking.

[2022-05-10 16:00] Beenhakker commented on #1155
Few things going on on my side. This application was just handed over to me last week, and I did not fully understand our implementation with the `django-oauth-toolkit`, so all in all it was very confusing.

Anyway, I underline this breaking change in the documentation, then it would be more obvious that something important has changed, since there was no difference between the 1.7.1. and the 2.0.

[2022-05-10 16:10] n2ygk commented on #1155
Fair point. We'll make sure the documentation adds information on major upgrades beyond what's in the changelog (which is technically part of the documentation;-)

[2022-05-10 16:12] n2ygk opened #1157 "Add major version upgrade documentation"
**Is your feature request related to a problem? Please describe.**

Not everyone reads the CHANGELOG but they may read the RTFD.IO documentation.

**Describe the solution you'd like**

Add 2.0 breaking change upgrade instructions/warnings to the documentation.

**Describe alternatives you've considered**

Make the CHANGELOG more obvious.

**Additional context**

[2022-05-11 07:41] Beenhakker commented on #1155
I was thinking more about the section I pointed to earlier: https://django-oauth-toolkit.readthedocs.io/en/latest/getting_started.html?highlight=CLIENT_CREDENTIALS#client-credential

Something in the line of "The `client_secrets` are stored encrypted."

[2022-05-11 09:46] n2ygk commented on #1155
Let's move this to #1157

A documentation PR would be wonderful.

[2022-05-11 10:58] Beenhakker commented on #1155
Sure.

[2022-05-11 14:52] mokuhasushi commented on #1135
Hi, I believe the issue to be related to the package [m2r](https://github.com/miyakogi/m2r/issues/63).
The proposed fix is to switch to [m2r2](https://github.com/CrossNox/m2r2) as the latest release of m2r is dated [October 2018](https://pypi.org/project/m2r/).

Other than m2r > m2r2 is it ok to remove the pin on Jinja2 here? (Jinja2<3.1 > Jinja2)

[2022-05-12 20:30] ThomasBerne commented on #1010
Nothing about this in a year and a half?

[2022-05-17 03:19] jeelos33 opened #1161 "while get access token from authorization_code then "error": "invalid_client""
-------------my settings.py, applications in link:
https://drive.google.com/drive/folders/10mEKBcTRXj8CVE6Pp7p1qmosjm9L6iY7?usp=sharing
------------when i use curl:
curl -X POST -H "Cache-Control: no-cache" -H "Content-Type: application/x-www-form-urlencoded" "http://127.0.0.1:8000/o/token/" -d "client_id=${ID}" -d "client_secret=${SECRET}" -d "code=${CODE}" -d "redirect_uri=http://localhost:8000/

[2022-05-17 13:59] #1153 closed

[2022-05-17 14:02] n2ygk commented on #1161
I suspect this is lack of PKCE. See documentation just updated by #1159

Please confirm and close if so

[2022-05-18 03:06] jeelos33 commented on #1161
I followed documentation then ..
![Screenshot from 2022-05-18 10-03-35](https://user-images.githubusercontent.com/104294750/168949006-e5d01da8-10a5-41ed-9fad-ce2b2fe1ce4b.png)

[2022-05-18 03:29] jeelos33 commented on #1161
I got code but access token error
![Screenshot from 2022-05-18 10-27-40](https://user-images.githubusercontent.com/104294750/168951230-68b54350-cc82-40fb-b439-9453c7824943.png)

[2022-05-18 17:53] bnsoni commented on #1161
@jeelos33 Hi, i'm facing the same issue. Did you manage to resolve it?

[2022-05-18 20:18] bnsoni commented on #1161
@n2ygk Thank you so much for pointing that out!
I didn't pay attention to the hashed secret, it's working now :)

[2022-05-18 20:38] #1161 closed

[2022-05-19 04:45] jeelos33 commented on #1161
I use the clear text client secret. if i use the client secret which is hashed then error "invalid_client"

[2022-05-20 09:18] andreasofthings commented on #1140
Wouldn't that defeat the purpose of the endpoint?
What would you be trying to achieve by doing so?
The redirect target should be configurable by `LOGIN_URL` in `settings.py`

[2022-05-20 10:42] andreasofthings commented on #1135
Indeed it is, I just pushed a branch `latest-version-of-sphinx`. Let me check the output later today before opening a pull request.

[2022-05-20 13:59] binnev commented on #634
I should add: I'm using django-oauth-toolkit v2.0. And I see that in our other project (which has `django-oauth-toolkit = "<2"`) migration 0006 is not yet present. So this seems like a v2.0 thing.

I guess this might not affect you if you are upgrading from v1.x to v2.0 (because migrations 0001-0005 will have been run a long time ago). But it is definitely breaking new v2.0 setups.

[2022-05-20 14:09] binnev commented on #634
When I try Approach #1 described above using oauth-toolkit v1.7.1, it just works.

There goes 2 days of my life :wave:

[2022-05-20 14:23] binnev commented on #634
Just curious to see if setting up my custom Application in 1.7.1 and then upgrading to 2.0.0 would work -- but migration 0006 also causes an error in this case.

[code]

[2022-05-20 14:33] n2ygk commented on #634
@binnev See pinned issue #1146 which is pending a fix. I hope to get to this in the coming week or so.

[2022-05-26 22:52] nicbou commented on #479
I also get the same error. It would be so much easier to solve this issue if we got a useful error message in the response body, or if this was better covered in the documentation.

## tl;dr

Set an appropriate Content-Type header for your token request. `application/x-www-form-urlencoded` works out of the box.

My POST request looks like this (vanilla JS):

[code]

[2022-05-28 20:34] alysivji commented on #628
Writing this up for others looking for a solution: look at the [urls.py module of this package](https://github.com/jazzband/django-oauth-toolkit/blob/master/oauth2_provider/urls.py) and pull out the views you want to keep in your project's urls.py

[2022-05-28 21:32] n2ygk opened #1165 "[maintainers] why is test_models.py throwing an error for dj40 locally but not in GH actions?"
When I run tox locally for dj40, I see an error due to referencing model instance `pk` (which makes sense based on reading the code) but I don't see the same error when it is run in GitHub Actions where the `py39-dj40` log is clean.

Here's a portion of local execution:
[code]
Looking in, for example, [this execution log](https://github.com/jazzband/django-oauth-toolkit/runs/6633347711?check_suite

[2022-05-28 21:52] Andrew-Chen-Wang commented on #1165
perhaps this line: ```
access_token=expired_access_tokens[i].pk
[code]

[2022-05-31 13:32] n2ygk commented on #1165
No it's just `access_token=`. I don't quite remember why we were using `.pk` but I did discover that under dj32 locally the pk is being returned as None which is why the error was not raised.

I'm reworking the test case to make sure those kinds of surprises don't happen.

[2022-06-01 16:30] DNTM2802 opened #1167 "Custom validator is being ignored?"
I want to implement a custom validator, in order to verify that a token was used only once to read, and only once to write.

In my `settings.py` I have the following:
[code]
And my custom validator class is the following:
[code]

I want to override the above method but the execution is not reaching the print. Instead, it is using the default provider `oauth2_provider.oauth2_validators import OAuth

[2022-06-01 16:57] wjn0 opened #1168 "Upgrading to 2.0.0 fails on migrations with a swapped Application model"
**Describe the bug**
Upgrading to version 2.0.0 when a swapped Application model is already in place results in a failure to migrate.

**To Reproduce**
Upgrade from 1.x to 2.0 and run the `makemigrations` and `migrate` commands.

**Expected behavior**
Should be able to upgrade and migrate the database as required.

**Version**
2.0.0

- [x] I have tested with the latest published release and it's s

[2022-06-01 17:00] n2ygk commented on #1168
Duplicate of pinned issue #1146

[2022-06-01 17:00] #1168 closed

[2022-06-02 12:56] jaap3 commented on #1013
Happy to see PR #1164, if that lands I can at least provide an alternative solution :)

[2022-06-02 13:55] brandonkirchner opened #1169 "TokenHasScope raises exception when checking permissions"
### Problem
When utilizing the [TokenHasScope](https://github.com/jazzband/django-oauth-toolkit/blob/c22c1793dcac7eb6fa28e3645bd3098beb091029/oauth2_provider/contrib/rest_framework/permissions.py#L14) permission class  in a situation where you have [multiple viable permissions classes composed using the bitwise operator](https://www.django-rest-framework.org/api-guide/permissions/#setting-the-perm

[2022-06-02 14:26] Beenhakker commented on #1157
Looking back at this, and going through the documentation ones more, it is stated there correctly, despite it being a bit cryptic maybe:

"Fill the form as show in the screenshot below, and before saving take note of Client id and Client secret we will use it in a minute."

I did create a PR which hopefully clarifies this change a bit better.

[2022-06-03 18:15] #1146 closed

[2022-06-03 18:20] n2ygk commented on #1013
@jaap3 #1164 has landed!

[2022-06-05 08:27] spinus commented on #1100
Isn't that duplicate of #670?

[2022-06-05 12:13] n2ygk commented on #1100
All that's needed is a volunteer to submit the PR :-)

[2022-06-09 12:54] n2ygk commented on #52
@prahlad1989 Please take a look at #1161 to see if this helps. There are two breaking changes with release 2.0.0:
- PKCE is now required
- client_secret is now hashed so you have to get the secret before it is saved

Some fixes and documentation improvements have been merged into the master branch which will help once released. Just waiting on a couple of PRs to be merged.

[2022-06-14 12:54] #1165 closed

[2022-06-17 10:02] ippeiukai commented on #868
AbstractRefreshToken.revoke as well.

[2022-06-17 10:20] ippeiukai commented on #868
This seems to work for now.
(just specify the patched OAuth2Validator class as OAUTH2_VALIDATOR_CLASS)
[code]

[2022-06-17 14:27] n2ygk commented on #868
@ippeiukai If this looks like something that should be a fix to the library, please submit a PR!

[2022-06-17 14:43] ippeiukai commented on #868
Thanks! I’ll give it a go when I have a time.

Any idea how it should be done by the way?
I could add a config to the settings, but it feels wrong. There must be a way to automatically find out which database particular model writes to. 🤔

[2022-06-17 14:59] n2ygk commented on #868
@ippeiukai 🤷 replace the `@transaction.atomic` decorator with the context manager flavor so you can figure out the database from the token's model for `using=`? Not really sure as I've not used database routers.

See https://docs.djangoproject.com/en/4.0/topics/db/transactions/#managing-database-transactions

[2022-06-20 02:01] ippeiukai commented on #868
Time ran out after a bit of desk research; theoretically this looks like how it should be done
[code]
[code]

[2022-06-20 20:20] daveisfera commented on #638
This appears to still be an issue in the current version. Anything I can do to help get this resolved?

[2022-06-21 15:05] n2ygk commented on #638
@daveisfera Please document in detail how you are able to reproduce this error with the latest code release and master branch, preferably with code that someone else can run. And submit a PR if you are able to resolve it. Given the history of this ticket, it looks like a hard one to clearly understand and seems to be limited to a small number of people experiencing it.

Thanks.

[2022-06-21 20:41] vebp opened #1178 "can't make tutorial "getting started" , django-oauth-toolkit 2.0.0"
hi good day

I can't make work the tutorial "getting started" from the docs
(sorry I know there are a couple of similars issues rised but still it seems there is some differences)

Django               	       4.0.5
django-oauth-toolkit 	2.0.0
OS					Ubuntu 20.04
python				3.8

I've been following the steps as appears in the docs but at the end the system delivers me the line

`{"error": "invalid_

[2022-06-22 10:56] MT-Cash opened #1179 "How does jazzband prevent malicious activities?"
This is primarily a question about jazzband

I see that anybody can join. If I understand it right, there are no requirements and people immediately are granted the privileges to push to repositories (and to make releases on PyPI?).

How does jazzband prevent malicious activities?

How does jazzband prevent well-intentioned beginners from breaking things?

[2022-06-22 11:04] n2ygk commented on #1179
See https://jazzband.co/about/releases#security. Only project leads can push to PyPi. It's still possible for mistakes to cause issues and, as with all FOSS projects, we count on the community to help review the code and root out errors.

[2022-06-22 11:05] #1179 closed

[2022-06-24 17:37] phith0n commented on #1120
similar issue when I run migration: `./manage.py migrate xxxx zero`

my django version is 4.0.5:

[code]

[2022-06-25 11:41] n2ygk commented on #1120
@phith0n Can you be specific about what versions you are using? The issue was created back several months ago and also didn't reference the version. Please fill out this template:

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Version**

- [ ] I have tested with the latest published release and it's still a problem.
- [ ] I have tested with the master branch and it's still a pro

[2022-06-25 11:57] n2ygk commented on #1178
@vebp Oh wow, I didn't even know (remember?) there was an http://127.0.0.1:8000/o/applications/register/ endpoint.  (I've never followed the tutorial apparently!) I always use the admin UI at http://127.0.0.1:8000/admin/oauth2_provider/application/add/. I'll have to look over the tutorial, but meanwhile, can you try using the admin endpoint? Also 2.1.0 was just published.

Also the Algorithm selec

[2022-06-25 13:51] phith0n commented on #1120
Hi @n2ygk , I think I may have found the problem.

Refer to the document <https://django-oauth-toolkit.readthedocs.io/en/latest/advanced_topics.html#AbstractApplication>, everything is OK after I added `run_before = [('oauth2_provider', '0001_initial'),]` to the migrations that created `ucenter.Application`.

However, the error `models.E022` stated in the documentation was not thrown.

[2022-06-25 20:37] vebp commented on #1178
OK @n2ygk thanks a lot!, I'll try to do that.
I've continued doing the tutorials and have a similar problem at Part 1 - Make a Provider in a Minute , in the following part "Tutorials". The truth is I imagine that most people is just interested in using  Django OAuth Toolkit integrated with Django-rest-framework (which is my case too) so maybe that’s why no one has noticed. Still, you may want to m

[2022-06-26 07:23] leench opened #1180 "Why Authorization grant type is Authorization code still need with header "Authorization: Basic ${CREDENTIAL}""
I tested django-oauth-toolkit 2.1.0, the **Authorization grant type** is **Authorization code**. and I found out that I have to pass **Authorization header** to get token successfully.
This is a successful request:

<img width="782" alt="1" src="https://user-images.githubusercontent.com/157350/175804023-6137e771-49d5-4f80-abc0-107b5d51556f.png">

If don't, will return error with "invalid_client"

[2022-06-26 13:37] n2ygk commented on #1120
I believe this `run_before` requirement is a symptom of the migrations not listing all the required dependencies on swappable models. In the initial migration, I suspect this in 0001_initial:
[code]
should be changed to this to make sure all possible swappable models become dependencies:
[code]
This has to do with auto-generated migrations (`manage.py makemigrations`) assuming the only possible sw

[2022-06-26 14:03] n2ygk commented on #1180
Yes, that's how OAuth2 works.

The client (what DOT calls application) authenticates to the Authorization Server with Basic Auth which is a base64-encoded(client_id:client_secret).  Then the AS makes things happen (e.g. redirects the user's browser to a login service) and eventually returns an Access Token to the client which it can use as a Bearer token in an Authorization header sent to a Resour

[2022-06-26 14:03] #1180 closed

[2022-06-26 14:34] leench commented on #1180
Thx a lot!

[2022-06-29 08:23] krzysieqq opened #1181 "JWS token verification failed after upgrade to 2.0"
**Describe the bug**
After upgrade from 1.7 to 2.0 i have problem with auth using mozilla-django-oidc. Mozilla oidc throws error when JSW verify JWS. Problem exists in version 2.0 and 2.1 DOT using mozilla oidc. I don't have problems when using Postman or when Frontend app user auth. After downgrade to 1.7 version everything with mozilla oidc working fine.

Traceback:
![image](https://user-images.

[2022-07-01 04:39] ippeiukai commented on #634
:memo: what I did to setup custom models, for future reference:

- `sample_identity` is where my User model for AUTH_USER_MODEL lives
- `sample_identity_oauth2_provider` is where my customized oauth2_provider lives

1. add empty shell of models to `sample_identity_oauth2_provider.models`.
2. makemigrations
3. add inheritance to the models in `sample_identity_oauth2_provider.models`.
4. specify the

[2022-07-08 02:23] femesq opened #1185 "Accessing client/application from request"
Debugging some OAuth-authenticated request, I noticed that it passes by this line:
https://github.com/jazzband/django-oauth-toolkit/blob/492a867499b50f348c28db4ef3e429e8f46dc412/oauth2_provider/oauth2_validators.py#L426

Although I can read `request.user` inside my "protected" views, the `client` attribute is not available.

I'd like to log some actions, registering the application the user author

[2022-07-09 18:59] krzysieqq commented on #871
Any updates?

[2022-07-13 03:31] supunsandeeptha commented on #809
This helps with upgrading to version 2.0.0 as well.

[2022-07-14 03:17] andres-root commented on #1161
@n2ygk How do I get the clear text client secret?

[2022-07-21 02:02] ashasanm opened #1186 "'oauth2_provider' is not a registered namespace"
I have a problem with oauth2_provider recently, it used to work, but suddenly it doesn't work anymore.
here is the code:

- api_partner/oauth2_urls.py (api_partner folder)
[code]

- api_partner/urls.py
[code]
- app/urls.py
[code]

things that I already did but still get same error NoReverseMatch in django 'oauth2_provider is not a registered namespace:

- add app_name = 'oauth2_provider in api_par

[2022-07-21 20:06] daveisfera commented on #638
I've been working on making a reproducer for this, but I haven't had any luck so far. I thought it was from multiple requests made at the same time, but I haven't been able to get my tests to fail with all of the variations that I've tried.

Any ideas on what I can try to make it happen?

[2022-07-24 10:56] mart-exsell commented on #976
hi @TimothyMalahy did you manage to fix it? i am struggeling with the same stuff and im wondering how you solved it.

[2022-07-25 12:57] TimothyMalahy commented on #976
Hi @mart-exsell we did find a way to sufficiently do it, but I don't recall if it was all auth or not. I will reach out to my teammate that did figure it out.

If I don't respond within a few days feel free to ping me again here.

[2022-07-25 13:12] OfficerWhiff commented on #976
Hello @mart-exsell I worked on the OAuth implementation for Tim's team. I did manage to get a sufficient process working for our Company and Ping Federate within Django. I was learning at the time and struggled with getting any Third Party Package working, so I made a custom band-aid solution for our instance. I've been meaning to go back and give OAuth Toolkit another try since I understand it a

[2022-07-27 07:11] sanxchep opened #1188 "How to Refresh a OAuth2 Token by using Django OAuth Toolkit in custom Views?"
Note - Have asked this question on [stackoverflow](https://stackoverflow.com/questions/73132742/how-to-refresh-a-oauth2-token-by-using-django-oauth-toolkit-in-custom-views)

**What I'm doing?**

1) I have a requirement where there will be separate authorisation server and a resource server.
2) I am using Resource owner password based grant type.
3) I have implemented Custom Introspection View and

[2022-07-28 09:55] vuongvitin1 commented on #824
Thanks, I am able to solve this after change my user account at field  is_supperuser

[2022-08-06 14:43] #1178 closed

[2022-08-09 22:20] linneudm opened #1193 "Why the request returns 'invalid_client'?"
Hello everyone, everything good?

I'm trying to follow the tutorial for Django Rest Framework that is in the [documentation](https://django-oauth-toolkit.readthedocs.io/en/latest/rest-framework/getting_started.html). I am not able to get a valid answer. I've seen some issues in the repo, some may even be the same case, but it's not clear to me where I'm going wrong.

Basically, I'm sending the req

[2022-08-09 23:38] sanchit-mathew opened #1194 "Migration no. 0006 is not reversible"
**Describe the bug**
The migration file `0006_alter_application_client_secret.py` is not reversible. On attempting to migrate backwards i.e. rollback model changes, `Django` raises an `IrreversibleError`.
This is due to Python code being run which doesn't specify a `reverse_code`

**To Reproduce**
1. Checkout to any branch >= `2.0.0` including `master`
2. Run all migrations
3. Undo all migrations

[2022-08-10 01:17] n2ygk commented on #1194
It's not reversible because you can't undo a one-way hash.

[2022-08-11 14:47] hughligit opened #1195 "where is the callback url?"
In the document of Getting started, the callback url is this:

[code]

But this is not a legal url, it will return 404!

And it's said in document`Remember we used http://127.0.0.1:8000/noexist/callback as redirect_uri you will get a Page not found (404) `.

Does DOT provide an url to be callback, or I have to write my own URL and view?

And is there any sample? I searched everywhere, but nobody w

[2022-08-11 15:04] n2ygk commented on #1195
The callback URL is frequently captured by the browser javascript when it receives the redirect response containing it. I suggest you try this with Postman, selecting Authorization type OAuth2.0 and `Authorization Code (with PKCE)` and configure the callback URL to be the one postman looks for which is https://www.getpostman.com/oauth2/callback

[2022-08-12 02:23] hughligit commented on #1195
It is a temporary web service for debug. And in the document there is a `curl` command.

But how to do this step in my own website? I'm not debugging.

[2022-08-14 23:35] sanchit-mathew commented on #1194
@n2ygk I agree, that's why I suggested to keep `RunPython.noop` as the reverse code. Since we can't reverse a one-way hash, the next best thing is to ask Django to simply do nothing so that the migration, on paper, gets reversed

[2022-08-16 02:31] JordiNeil commented on #1193
It seems like you are using the client_secret stored after saving the application. Look it starts with `pbkdf...`, it means it's already hashed.
[This doc](https://django-oauth-toolkit.readthedocs.io/en/latest/changelog.html) says that you need to copy the `client_secret` before hitting save button in django admin. Because it's going to be hashed and stored. And you cannot unhash it, and if you us

[2022-08-16 03:28] JordiNeil commented on #1185
Well, not sure it's the best way but I think you can do something like this

[code]

[2022-08-16 14:46] linneudm commented on #1193
You're right, I was wrong to use the hashed string. This was a very grotesque mistake on my part. I hope this can help someone as foolish as me one day. Thanks for listening @JordiNeil !

[2022-08-16 14:50] n2ygk commented on #1193
Closing this.

[2022-08-16 14:50] #1193 closed

[2022-08-17 11:32] ehsmsh opened #1197 "user management with separated auth and resource server"
With the separated auth and resource server architecture, username in not a unique permanent identifier to be used in resource server to create users and relate resources to them. It should be user_id which is the primary key of the user, making sure it would never change.

At the same time it should be implemented in introspect endpoint to have user_id in the response, along side the other parts.

[2022-08-19 12:02] sanxchep commented on #485
is this done? or no one has figured out a way to add custom models to different oauth authentication module in the same project??

[2022-08-19 12:04] Rooseveltiny commented on #485
I did it in my project about a half of a year earlier.

Пт, 19 авг. 2022 г. в 15:02, Sanxchep Sharma ***@***.***>:

[2022-08-19 12:14] sanxchep commented on #485
Any snippets you can spare or link to the implementations??
thankss

On Fri, Aug 19, 2022 at 5:35 PM Rooseveltiny ***@***.***>
wrote:

[2022-08-19 18:49] Rooseveltiny commented on #485
Okey. I give it too a bit later. I’ve got sources in my office.

Пт, 19 авг. 2022 г. в 15:15, Sanxchep Sharma ***@***.***>:

[2022-08-20 08:22] sanxchep commented on #1197
Since the oauth table only links to django auth user model, you will have to implement a custom auth table to do that i guess.
But you do have a point, different resource servers may have different set of users with same username, I think due to this, we should have the ability to set different oauth user model to different models that we might create, linked with id ofcourse.

[2022-08-20 08:52] ehsmsh commented on #1197
You are right about the resource server as it needs to overwrite the basic user model. But for the auth server introspcet url which is used by the resource server to authenticate users, it can be included in the response as default with out a problem. I have overwritten the TokenIntrospectionView as so which i think should be the default toolkit class:

[code]
The subject of the token is user id i

[2022-08-20 14:18] sanxchep commented on #1197
same tbh, I had to overwrite literally all stages of authentication to make it a "one-auth-server" for everything in my org.
would be able to do it gracefully like django code style would want to... but here we are.

[2022-08-20 15:19] ehsmsh commented on #1197
Hope they change the introspection view like this, as it is clear. About the validator class it is a little bit out of the toolkit scope because of user model. But the part of the method which creates user after introspection can be separated so the overwrite be more clear and to the point. With the current implementation, the overwrite needs copying a lot of code which is not related to user mode

[2022-08-20 15:34] ehsmsh commented on #1197
to be pricise, this part of _get_token_from_authentication_server method in OAuth2Validator can be separated in a new class method like below. Because this the only part of the validator related to users.

[code]

[2022-08-22 07:50] ritwickdsouza opened #1198 "How to use with multi user accounts/organizations?"
Our application has users that can have access to multiple organizations. Multiple users can also have access to an organization. (e.g. GitHub)

What would be the best way to use the library to only allow access to certain accounts/organizations that have been selected by the user on the authorize page?

Would love some feedback.

[2022-08-22 11:22] sanxchep commented on #485
bro... did you find any??
i might get fired

On Sat, Aug 20, 2022 at 12:19 AM Rooseveltiny ***@***.***>
wrote:

[2022-08-22 12:38] Rooseveltiny commented on #485
he-he. So well I've found sources. remind me what the concrete issue is? You'd like to create your own user class?

[2022-08-22 15:35] sahmadreza opened #1199 "Use with Graphene-Django"
How can use OAuth 2 with the Graphene-Django package for login and registering users?

Urls:

[code]

**User Node**
[code]

**AuthenticationMiddleware**
[code]

**schema**
[code]

[2022-08-22 17:55] sanxchep commented on #485
Yeahh, and custom config like expiration time to that particular auth
endpoint and stuff 😭😭

So sorry that I'm being desperate for it.... But been souring the internet
for some days now and didn't find it anywhere ... :((

On Mon, 22 Aug, 2022, 6:08 pm Rooseveltiny, ***@***.***>
wrote:

[2022-08-22 18:16] Rooseveltiny commented on #485
Well, each time to create a new django project it's a very good practice to declare your own user class in some kind of an app which is charged to perform authentication i.e. ecommerce_auth or some kind of. For that all you need is too create that extra app in your django project, and in models declare a user class using AbstractUser class to inherit your own user class from.

`
from django.contri

[2022-08-24 07:16] sanxchep commented on #485
yeah bro,
saved my ass
thankxx.

On Tue, Aug 23, 2022 at 11:48 PM Rooseveltiny ***@***.***>
wrote:

[2022-08-24 14:49] ShanWeera commented on #634
On version ```2.1.0```. Not sure if this can help anyone else but adding
[code]
to the Application model swap migration, and then specifying the new model with ```OAUTH2_PROVIDER_APPLICATION_MODEL``` _prior_ (yes, despite the documentation explicitly mentioning not to do this) to running the migration worked for me.

[2022-08-25 09:32] Joaojack opened #1200 "Always a 400 error before the 200 response (called from node)"
**Describe the bug**

I'm calling the /o/token endpoint of my django backend from a node server, i get the result and the 200 status but BEFORE each success i have a bad request error.

Heroku log:
[code]
the only error message is Bad Request: /o/token/ (/o/token/ being the token delivery endpoint, and it eventually works)

In case it could help, here is my node request :
[code]

- [ ] I have test

[2022-08-29 03:48] ViokingTung opened #1201 "custom permission caused "Parse error: invalid header token""
my custom permission code:
[code]
it work well when deployed on win10/win11,debian 10,but when I deployed on centos7, it happend errors:
1.request by postman :
![image](https://user-images.githubusercontent.com/17701012/187118650-bd65f581-4b71-4982-8fa2-1e122b3c6698.png)

2.request by python resquest, no response
3.request by linux curl,it work well:
[code]
it just happend when http status code is

[2022-09-05 09:29] adamchainz opened #1202 "Incorrect upper bound prevents use of Django 4.1.1+"
**Describe the bug**

setup.cfg constrains the maximum Django version:

[code]

With this upper bound it disallows today's [Django 4.1.1 bugfix release](https://www.djangoproject.com/weblog/2022/sep/05/bugfix-release/0, and later security releases to come.

Upper bound version constraints are highly discouraged by many - see [this blog post](https://iscinumpy.dev/post/bound-version-constraints/).

[2022-09-05 13:23] R70YNS commented on #871
+1

[2022-09-05 14:46] R70YNS commented on #634
Managed to get it working as per @michaeljaszczuk's suggestion above https://github.com/jazzband/django-oauth-toolkit/issues/634#issuecomment-994821666. Tried to get it working on a DB that wasn't empty to save data transfer but required empty DB to work properly.

[2022-09-05 15:17] n2ygk commented on #1202
@adamchainz Django doesn't use the major version for breaking changes; minor versions can also have breaking changes (e.g. 3.1->3.2) so we've been conservative and made sure not to claim compatibility with a release prior to confirming it hasn't broken anything. I would be OK with a comparison with an upper bound of django-4.2 but not leave it open-ended. Also, the tox test would need to be update

[2022-09-05 15:33] adamchainz commented on #1202
I didn't spot that you haven't got tox configuration for Django 4.1. When I saw `<= 4.1`, it looked like 4.1 was supported, but a mistake had been made that excluded patch versions. I will update my PR to change the tox configuration.

I would urge you to reconsider your position on upper bounds. The linked post is massive but it does expose the issues with using them. After I read it, I dropped t

[2022-09-06 16:45] n2ygk commented on #1202
Sorry but I just don't buy the open-endedness given we have a current example of the code failing with djmain. And TL;DR for any blog post that can't make a case in 100 words :-)

[2022-09-06 18:00] adamchainz commented on #1202
It has a TL;DR section: https://iscinumpy.dev/post/bound-version-constraints/#tldr

Anyway I respect your decision, will you be able to adjust my PR to use "< 4.2" and do a release?

[2022-09-06 18:03] adamchainz commented on #1202
Oh, you merged it, thanks! 😀

[2022-09-13 01:35] #1201 closed

[2022-09-26 03:18] ViokingTung commented on #995
i run uwsgi with multibple workers,still have this problem

[2022-09-27 14:38] alemangui opened #1206 "How to activate translations for oauth2 views"
I am unable to display oauth pages in anything other than English.

I import the urls using
[code]

And I have specified the language and i18n settings in my project's `settings.py`:
[code]

However, my `/o` pages are always in English.

The only i18n entry I found in the doc is about contributing translation files, but not on how to use them.

[2022-09-30 11:51] matiseni51 opened #1207 "Docs - code_verifier in authorization_code"
Hi!

I'm testing from scratch and i was following the documentation to implement Authorization Code grant type but at the moment that i made the request to get the access_token, i get {error: invalid_grant}. (I even extend the grant expire time)

I test different combination between this attributes and i succeeded using `CODE_CHALLENGE` instead of `CODE_VERIFIER`
(django-oauth-toolkit/docs/getting

[2022-10-02 09:18] tykling commented on #1207
thank you for this!

[2022-10-03 11:20] matiseni51 commented on #1207
Glad to help!
I tried different things base on your comment and i replicated the behavior that you mention, therefore I updated the PR with that flag.

Also, just point out a case that seems curious to me: even though i selected a SHA-2 256 Algorithm when i registered a new app, if i don't add the `code_challenge_method` flag in the authorization call, the issue that i describe before still works

[2022-10-03 11:50] tykling commented on #1207
That is because the dropdown at the bottom of the application create form has to do with OIDC, and what we are talking about here is PKCE. SHA256 is used in both but the dropdown is not related to PKCE.

[2022-10-03 11:55] tykling commented on #1207
Your PR looks correct to me now :+1:

[2022-10-04 09:14] AndrejZbin opened #1209 "Using GET parameters in /o/token/ endpoint causes http 500 error (instead of 400)"
**Describe the bug**
When GET parameters are in /o/token/, e.g. /o/token/?test=test , the server returns 500 error.
This is caused because OAuth2Error (with status code 400) from oauthlib is not caught:
https://github.com/oauthlib/oauthlib/blob/a70e13ff19d74f7fc1e397742782c7b881e2d496/oauthlib/oauth2/rfc6749/endpoints/base.py#L88

I think the solution is to change this:
https://github.com/jazzband

[2022-10-04 12:55] n2ygk commented on #1209
@AndrejZbin Looks good. Please submit a PR!

[2022-10-04 14:58] #1207 closed

[2022-10-05 13:22] matiseni51 opened #1211 "extend AUTHORIZATION_CODE_EXPIRE_SECONDS"
Hi!

**Is your feature request related to a problem? Please describe.**

For the `grant_type=authorization_code`:
It was kind of annoying that you have just a few seconds to make the call to authorize the App and get the code, I always  had to extend the expire time.

**Describe the solution you'd like**

I suggest change the default time (https://github.com/jazzband/django-oauth-toolkit/blob/mast

[2022-10-09 08:05] matiseni51 commented on #1211
I found a couple of BCPs that update this RFC, non of them refer to this AUTHORIZATION_CODE expire time.
Apart from that i only saw a brief description in the [OAuth web](https://www.oauth.com/oauth2-servers/authorization/the-authorization-response/):

So, it's your call really, just lmk if you want that i submit the PR changing the time.
Other option might be add a line in the docs describing the

[2022-10-10 12:59] n2ygk commented on #1211
@matiseni51 thanks for researching this. If seems like we should keep the current value then as we should always trend toward more secure and changing this default would weaken security for current users of the default. Those who need to extended it can always do so via the settings.

Unfortunately the [current documentation](https://django-oauth-toolkit.readthedocs.io/en/latest/settings.html#auth

[2022-10-10 13:52] #1209 closed

[2022-10-11 08:56] n2ygk commented on #1194
That might mislead people into thinking things aren’t messed up when they
are vs. restoring a db from backup or similar to revert the data.

On Sun, Aug 14, 2022 at 7:36 PM Sanchit Mathew ***@***.***>
wrote:

[2022-10-12 07:45] cargox-ks commented on #1200
What is the content in response with status code 400?

[2022-10-14 11:34] valberg commented on #1202
@n2ygk Is there something I can do to help get a release out with this? django-oauth-toolkit is the only thing standing in the way of us upgrading to newer django > 4.1.0.

[2022-10-14 14:24] n2ygk commented on #1202
Yes! Please create a release MR and assign to me to review.

See https://github.com/jazzband/django-oauth-toolkit/blob/master/README.rst and https://github.com/jazzband/django-oauth-toolkit/blob/master/docs/contributing.rst#maintainer-checklist

[2022-10-14 16:19] tartarini commented on #1178
I've tested twice the getting started doc and end up with the same error
`{"error": "invalid_grant"}`

Setup:
Django==4.1
django-oauth-toolkit==2.1.0
Python 3.10.6

[2022-10-22 14:35] #1211 closed

[2022-10-27 16:10] Kraust opened #1217 "oauth2_provider.backends.OAuth2Backend does not work when request.user is None."
**Describe the bug**

The `oauth2_provider.backends.OAuth2Backend` backend does not work when no user is provided. This would be common when the grant type is client_credentials. This causes the `user_login_failed` signal in django.contrib.auth.authenticate to fire if there are no other backends that can authenticate the request.

**To Reproduce**

Create a project with `oauth2_provider.backends.O

[2022-10-28 07:23] Aswini97 opened #1220 "while requesting access token its giving error {"error": "invalid_grant"}"

[2022-10-31 14:23] n2ygk commented on #1220
Not enough detail here to diagnose.

[2022-11-13 02:04] coranos commented on #657
Bump on the issue, I guess.

If a user sends an `application/json` request they end up getting a 400 saying `{"error": "unsupported_grant_type"}` which is confusing, since they are setting the grant type.

[2022-11-15 15:27] nnseva opened #1221 "Models customization works bad"
**Describe the bug**

Customized models lead to errors at different stages of migration.

The complex case with the customized `Application` model and another model referencing the `AccessToken` model produces different errors while the migration process, depending on the application settings (direct swapping of the `AccessToken` model is also unavailable, see f.e. #1017).

Without the `settings.O

[2022-11-16 15:05] Pankrat opened #1222 "Expired ID tokens are not removed"
**Describe the bug**

When running `django-admin cleartokens`, access tokens and refresh tokens are cleared as documented, but expired ID tokens stick around in the DB until they are removed manually.

**To Reproduce**

1. Set  `OIDC_ENABLED = True`
2. Set `REFRESH_TOKEN_EXPIRE_SECONDS` to a low value
3. Set `ACCESS_TOKEN_EXPIRE_SECONDS` to a low value
4. Set `ID_TOKEN_EXPIRE_SECONDS` to a low val

[2022-11-17 13:48] petros94 commented on #839
Any news? still in 2.2.0

[2022-11-18 21:39] #1222 closed

[2022-11-20 07:30] andreasofthings commented on #986
Hi Hugo,
apologies to follow up - I seem to face the same issue but fail to spot the solution.
In your oidc provider configuration, which is the actual part to solve "invalid JSON Web Key Set" errors in synapse?
Currently running latest matrix, Django and django-oauth2-tools
Thanks,
Andreas

[2022-11-21 13:49] francoCosimo95 commented on #304
You only need to add `REFRESH_TOKEN_GRACE_PERIOD_SECONDS=True` to the `OAUTH2_PROVIDER` config

[code]

[2022-11-23 22:18] g-normand commented on #1178
@tartarini @n2ygk I'm having the same problem

I created an app via the admin interface
![Capture d’écran de 2022-11-23 17-13-57](https://user-images.githubusercontent.com/17318506/203655094-2f7ee039-265a-4f2a-a9de-886cf34b0838.png)

Then I went to the URL :
http://127.0.0.1:8004/o/authorize/?response_type=code&code_challenge=RbkDsjQXkYq3gl-aMEy54xNEoTuxar-RC-KcMkBJ2Ek&code_challenge_method=S256&c

[2022-11-29 14:47] n2ygk opened #1226 "latest flake8 breaks tox test"
**Describe the bug**

See https://github.com/PyCQA/flake8/issues/1760

[code]

**To Reproduce**
Run tox!

**Expected behavior**

Should not fail in flake8

**Version**

- [ ] I have tested with the latest published release and it's still a problem.
- [x] I have tested with the master branch and it's still a problem.

**Additional context**